/* ===== Google Font Import - Poppins ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #212121;
}
.accordion {
  max-width: 530px;
  width: 100%;
  background: #fff;
  border: 1px solid #2d5cfe;
  margin: 0 15px;
  padding: 15px;
  border-radius: 8px;
}
.accordion .accordion-content {
  margin: 10px 0;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #2d5cfe;
  box-shadow: 0 0 10px #2d5cfe;
  overflow: hidden;
}
.accordion-content:nth-child(2) {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #2d5cfe;
  box-shadow: 0 0 10px #2d5cfe;
}
.accordion-content:nth-child(3) {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #2d5cfe;
  box-shadow: 0 0 10px #2d5cfe;
}
.accordion-content:nth-child(4) {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #2d5cfe;
  box-shadow: 0 0 10px #2d5cfe;
}
.accordion-content.open {
  padding-bottom: 10px;
  transition: 0.5s;
}
.accordion-content header {
  display: flex;
  min-height: 50px;
  padding: 0 15px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s linear;
}
.accordion-content.open header {
  min-height: 35px;
}
.accordion-content header .title {
  font-size: 14px;
  font-weight: 700;
  color: #333;
}
.accordion-content header i {
  font-size: 20px;
  color: #333;
}
.accordion-content .description {
  height: 0;
  font-size: 12px;
  color: #333;
  font-weight: 400;
  padding: 0 20px;
  transition: all 0.5s linear;
}
.bx {
  position: relative;
  top: 1px;
}
