* {
  margin: 0;
  padding: 0;
  font-family: arial;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #c2c3c9;
}

.iphone {
  border: 4px solid #3b444b;
  border-radius: 50px;
}

a {
  text-decoration: none;
  color: white;
}

.iphone-14 {
  width: 300px;
  height: 600px;
  border: 5px solid black;
  background: white;
  background-image: url("/assets/images/mk-phone.jpg");
  background-repeat: no-repeat;
  background-size: 301px 600px;
  border-radius: 47px;
  position: relative;
}

.operator-name {
  position: absolute;
  top: 16px;
  left: 30px;
  font-size: 14px;
  color: white;
}

.dynamic-island {
  width: 100px;
  height: 25px;
  background: black;
  border-radius: 50px;
  margin: 0 auto;
  margin-top: 10px;
  position: absolute;
  left: 100px;
  z-index: 99999;
  transition: all 0.5s;
}

.dynamic-island-camera {
  color: white;
  position: absolute;
  top: 18px;
  right: 110px;
  background: #121212;
  box-shadow: 0 0 1px grey;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  z-index: 99999;
  transition: all 0.5s;
}

.operator-icons {
  position: absolute;
  top: 16px;
  right: 50px;
  font-size: 14px;
  transition: all 0.2s;
  color: white;
}

.battery {
  width: 20px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 4px;
  font-size: 10px;
  text-align: center;
  color: #000;
  background: #fefefe;
  font-weight: bold;
  position: absolute;
  top: 0px;
  right: -28px;
}

.date-area {
  margin-top: 60px;
  width: 100%;
  text-align: center;
  color: white;
}

.clock-area {
  margin-top: 5px;
  width: 100%;
  text-align: center;
  font-size: 60px;
  /* font-family: "Monoton", cursive; */
  color: white;
}

.widget-area {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: white;
  top: 150px;
  position: relative;
  z-index: 999;
  /* display: flex; */
}

.widget {
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  transition: all 1s;
  cursor: pointer;
  position: relative;
  bottom: -30px;
  background: black;
}
.mk-moon {
  cursor: default;
}
.widget i {
  transition: all 1s;
}

.widget:hover .spotify {
  color: #1ed760;
}
.widget:hover {
  background: white;
}
.widget:hover .fuelWidgetIcon {
  color: black;
}
.widget:hover i {
  color: black;
}
.quiet {
  display: none;
  color: gray;
  transition: all 2s;
  animation: bellNtf 2s;
}

@keyframes bellNtf {
  0%,
  40%,
  80%,
  100% {
    color: gray;
  }
  10%,
  60%,
  90% {
    color: red;
  }
}

.notification {
  margin: 0 40px;
  margin-top: 300px;
  margin-left: 40px;
  left: 15px;
  padding: 15px;
  border-radius: 10px;
  position: absolute;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.25);
  transition: all 0.5s;
  animation: notification 0.5s forwards;
  animation-delay: 5s;
  color: white;
  z-index: 999;
}

.tittle-notif {
  font-size: 18px;
}

@keyframes notification {
  from {
    bottom: 180px;
    opacity: 0;
    visibility: hidden;
  }
  to {
    bottom: 200px;
    opacity: 1;
    visibility: visible;
  }
}
.mk-notif {
  top: -1px;
  position: relative;
}

.notification-text {
  font-size: 12px;
  color: #fff;
  font-weight: 500;
}

.flash-and-camera img {
  position: absolute;
  bottom: 30px;
  left: 20px;
  filter: invert(100%);
  padding: 10px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.337);
  transition: all 0.5s;
  cursor: pointer;
  z-index: 99999;
}

.flash-and-camera img:hover {
  background-color: rgba(255, 255, 255, 1);
}

.flash-and-camera i {
  position: absolute;
  bottom: 30px;
  right: 20px;
  color: black;
  filter: invert(100%);
  padding: 10px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.337);
  z-index: 99999;
  cursor: pointer;
  transition: all 0.5s;
}

.flash-and-camera i:hover {
  background-color: rgba(255, 255, 255, 1);
}

.line {
  position: absolute;
  bottom: 10px;
  width: 100px;
  height: 5px;
  border-radius: 50px;
  background: #fff;
  left: 100px;
  cursor: pointer;
  z-index: 999999;
}
.line:hover {
  background: blue;
  transition: 0.5s;
}
.mkGanz {
  cursor: pointer;
}
.bell-animation-area {
  width: 100px;
  height: 25px;
  background: black;
  border-radius: 47px;
  position: absolute;
  left: 100px;
  top: 10px;
  z-index: 99999;
  display: none;
  color: #fff;
  animation: dynamicIslandAnm 7s;
}

@keyframes dynamicIslandAnm {
  0%,
  100% {
    width: 100px;
    height: 25px;
    left: 100px;
    opacity: 0 !important;
  }
  20%,
  80% {
    width: 270px;
    height: 40px;
    left: 15px;
    display: block;
  }
}

.bell-animation {
  position: absolute;
  width: 100%;
  top: 15px;
  visibility: hidden;
  opacity: 0;
  left: 0;
  text-align: center;
  z-index: 99999;
  transition: all 1s;
  animation: dynamicIslandText 5s;
  animation-delay: 0.5s;
  display: none;
  color: #fff;
}

@keyframes dynamicIslandText {
  0%,
  100% {
    top: 10px;
    visibility: hidden;
    opacity: 0;
  }
  20%,
  80% {
    top: 22px;
    visibility: visible;
    opacity: 1;
  }
}

.bell-animation i {
  color: red;
}

.bell-animation-area-slash {
  width: 100px;
  height: 25px;
  background: #000;
  border-radius: 47px;
  position: absolute;
  left: 100px;
  top: 10px;
  z-index: 99999;
  display: none;
  color: #fff;
  animation: dynamicIslandAnm 7s;
}

@keyframes dynamicIslandAnm {
  0%,
  100% {
    width: 100px;
    height: 25px;
    left: 100px;
    opacity: 0 !important;
  }
  20%,
  80% {
    width: 270px;
    height: 40px;
    left: 15px;
    display: block;
  }
}

.bell-animation-slash {
  position: absolute;
  width: 100%;
  top: 15px;
  visibility: hidden;
  opacity: 0;
  left: 0;
  text-align: center;
  z-index: 99999;
  transition: all 1s;
  animation-delay: 0.5s;
  display: none;
  color: #fff;
}

.bell-animation-slash i {
  color: red;
}

.c-gray {
  color: gray;
}

.bi-soundwave {
  position: absolute;
  top: 14px;
  color: #fff;
  left: 120px;
  z-index: 99999;
  animation: volumeUp 3s infinite;
  display: none;
  cursor: pointer;
  transition: all 0.5s;
}

@keyframes volumeUp {
  0%,
  50%,
  100% {
    color: #fff;
    opacity: 1;
  }
  20%,
  40%,
  60%,
  80% {
    color: #ffd0c7;
    opacity: 0.8;
  }
}

.music-player {
  margin-top: 0px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  top: -350px;
  position: relative;
  z-index: 99999;
  backdrop-filter: blur(10);
  left: -2px;
}

.music-poster {
  position: relative;
  width: 50px;
  height: 50px;
  everflow: hidden;
  margin-right: 150px;
  color: #2d5cfe;
  border-radius: 10px;
}
.mk-music-tittle {
  line-height: 1.2em;
  font-weight: 600;
  transition: 0.5s;
  margin-left: 60px;
  top: -40px;
  position: relative;
}
.mk-music-desc {
  font-size: 0.6em;
  transition: 0.5s;
  color: gray;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0.1rem;
  margin-left: 60px;
  top: -40px;
  position: relative;
}
.bi-pause-fill {
  display: none;
}
.list-mk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #2d5cfe;
}
.music-details {
  width: 225px;
  background: rgba(255, 255, 255, 0.925);
  /* background: black; */
  backdrop-filter: blur(5px);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: #000;
  padding: 10px;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 5px;
  overflow: hidden;
  position: relative;
}
.music-details .mk-images {
  position: relative;
  width: 50px;
  height: 50px;
  everflow: hidden;
  margin-right: 50px;
  color: #2d5cfe;
}
.mk-box {
  /* background: white; */
  border-radius: 30px;
  padding: 10px;
  height: 100%;
}
.setting-content {
  display: flex;
}
.setting-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #2d5cfe;
}
.setting-content .img-setting {
  position: relative;
  width: 50px;
  height: 50px;
  everflow: hidden;
  margin-right: 50px;
  color: #2d5cfe;
  top: 5px;
  left: 15px;
}
.mk-setting-tittle {
  line-height: 1.2em;
  font-weight: 600;
  transition: 0.5s;
  margin-left: 60px;
  top: -38px;
  position: relative;
  left: 25px;
}
.mk-setting-desc {
  font-size: 0.6em;
  transition: 0.5s;
  left: 25px;
  color: gray;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0.1rem;
  margin-left: 60px;
  top: -38px;
  position: relative;
}
.mk-setting-list {
  padding: 10px;
}
.mk-list-content {
  margin-top: -50px;
  top: 50px;
  position: relative;
}
.mk-list-content .mk-profile-title {
  font-size: 12px;
}
.mk-setting-list header {
  font-size: 15px;
  margin-left: 5px;
  font-weight: bold;
  margin-bottom: 10px;
}
.mk-setting-list p {
  font-size: 12px;
  margin-left: 5px;
  margin-top: 15px;
  /* background: black; */
  color: black;
  padding: 15px;
  width: 185px;
  border-radius: 30px;
  cursor: pointer;
}
.mk-setting-list p {
  cursor: pointer;
}
.mk-setting-list .mk-ic {
  cursor: pointer;
}
#sarki {
  height: 15px;
  width: 430px;
  position: absolute;
  left: -110px;
  margin-top: -15px;
  color: blue;
  background: black;
}

/* .music-details::before {
  content: "";
  width: 15px;
  height: 50px;
  background: #efeff2;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 999999;
}

.music-details::after {
  content: "";
  width: 15px;
  height: 50px;
  background-color: #efeff2;
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 999999;
} */

.player {
  margin-top: 10px;
  text-align: center;
}

.player i {
  font-size: 25px;
  margin: 0 10px;
}

.bi-cast {
  position: absolute;
  bottom: 15px;
  right: 10px;
  font-size: 15px !important;
}

.player button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.fuel-area {
  position: absolute;
  left: 0;
  border-radius: 30px;
  bottom: 100px;
  width: 267px;
  top: 10px;
  height: 550px;
  padding: 10px;
  margin: 0 6px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  background-color: white;
  backdrop-filter: blur(5px);
  z-index: 99999;
}

.fuel-area img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

.fuel-ntf-app {
  position: absolute;
  top: 15px;
  left: 100px;
}
.mk-desc {
  font-size: 10px;
}
.bi-geo-alt-fill {
  color: #fff;
  position: absolute;
  top: 11px;
  right: 100px;
  font-size: 12px;
  padding: 5px;
  background: #000;
  border-radius: 50px;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  animation: fuel 3s infinite;
  text-align: center;
}

@keyframes fuel {
  0%,
  50%,
  100% {
    color: #fff;
    opacity: 1;
  }
  20%,
  40%,
  60%,
  80% {
    color: red;
    opacity: 0.8;
  }
}
@keyframes slide-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}
/* Custome Style */

.mk-menu-icons {
  margin-top: 30px;
  justify-content: center;
  display: flex;
}
.mk-menu-icons div {
  margin: 10px;
  z-index: 100;
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px #33333340;
  cursor: pointer;
  transform: transform 400ms ease-in-out;
}
.app:hover {
  background-color: #212121;
  transition: 0.5s;
}
.fas {
  cursor: pointer;
}
.two {
  margin-top: 10px;
}
.bx {
  font-size: 30px;
  padding: 10px;
}
.mk {
  padding: 0;
  font-size: 20px;
  top: -2px;
  position: relative;
}
.mk-ntf-1 {
  position: relative;
  top: -5px;
  font-size: 12px;
}
.tt {
  color: black;
}
.mk-iframe {
  height: 100%;
  width: 300px;
  border-radius: 5px;
}
.mk-ic {
  font-size: 20px;
  position: relative;
  top: -44px;
  right: -175px;
  color: black;
}
/* Fas Color */
.insta {
  color: #e1306c;
}
.fb {
  color: #4267b2;
}
.tw {
  color: #1da1f2;
}
.tl {
  color: #0088cc;
}
.yt {
  color: red;
}
.sc {
  color: #ff8800;
}
.ld {
  color: #1da1f2;
}
.mk-footer {
  position: relative;
  text-align: center;
  cursor: default;
}
.mk-foot {
  font-size: 8px;
  font-weight: bold;
  letter-spacing: 0.2rem;
}
.mk-back {
  display: flex;
  position: relative;
}
.btn-mk-back {
  position: relative;
  font-size: 30px;
  left: -10px;
  top: -10px;
  color: black;
  border-radius: 30px;
  cursor: pointer;
}
.mk-tittle-setting {
  position: relative;
  left: -20px;
  color: black;
  top: 7px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 700;
}
.mk-back:hover .btn-mk-back {
  color: blue;
}
.mk-back:hover .mk-tittle-setting {
  color: blue;
}
.mk-profile-title {
  position: relative;
  left: 20px;
  font-size: 12px;
}
