@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700");
@import url("https://fonts.googleapis.com/icon?family=Gemunu+Libre:300,400,500,600,700");

/* Start Default Styles */

html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Rajdhani", sans-serif;
}
body {
  position: relative;
  height: 100%;
  padding: 10px;
  user-select: none;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  background: #ddd;
}
.MkxEmsBackground {
  position: absolute;
  width: 100%;
  height: 300%;
  background-size: cover;
  background-position: center;
  background-image: url("https://ems-links.netlify.app/assets/images/pattern.svg");
  opacity: 0.2;
  overflow: hidden;
}
/* Media Default */

.VanzBody {
  position: relative;
  width: 100%;
}
.VanzBody .VanzBodyContent {
  position: relative;
  top: 100px;
  height: 500px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
.VanzBodyContentImageHeader {
  height: 100px;
  background-image: url("https://ems-links.netlify.app/assets/images/xchl.jpg");
  background-position: center;
  background-size: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.VanzBodyContentImageMeta {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}
.VanzBodyContentImageMeta img {
  position: relative;
  width: 80px;
  border-radius: 50px;
  bottom: 40px;
  border: 5px solid #fff;
}
.VanzBodyContentNameXBio {
  position: relative;
  bottom: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.VanzBodyContentNameXBio h4 {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.VanzBodyContentNameXBio p {
  font-size: 13px;
  font-family: "Inter", sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.VanzBodyContentAbout {
  position: relative;
  bottom: 30px;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.VanzBodyContentAbout .VanzBodyContentAboutHeader h4 {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
  text-transform: uppercase;
}
.VanzBodyContentAbout .VanzBodyContentAboutMeta p {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
  font-family: "Inter", sans-serif;
}
.VanzBodyContentSince {
  position: relative;
  bottom: 10px;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.VanzBodyContentSince .VanzBodyContentSinceHeader h4 {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
  text-transform: uppercase;
}
.VanzBodyContentSinceMeta {
  position: relative;
  display: flex;
  padding: 10px;
}
.VanzBodyContentSinceMeta .VanzBodyContentSinceMetaContent {
  position: relative;
  display: flex;
  margin: 10px;
}
.VanzBodyContentSinceMetaContent i {
  font-size: 20px;
}
.VanzBodyContentSinceMetaContent p {
  position: relative;
  top: 3px;
  font-size: 13px;
  margin-left: 5px;
}
.VanzBodyContentDetail {
  position: relative;
  bottom: 10px;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.VanzBodyContentDetail .VanzBodyContentDetailHeader h4 {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
  text-transform: uppercase;
}
.VanzBodyContentDetailMeta {
  position: relative;
}
.VanzBodyContentDetailMetaBody {
  position: relative;
  display: flex;
  padding: 10px;
}
.VanzBodyContentDetailMetaBodyList {
  position: relative;
  display: flex;
  width: 100%;
  margin: 10px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items; center;
  place-content: center;
  place-items; center;
  transition: 0.5s ease-in-out;
}
.VanzBodyContentDetailMetaBodyList:hover {
  background: none;
  transition: 0.5s ease-in-out;
}
.VanzBodyContentDetailMetaBodyList i {
  font-size: 16px;
  margin-right: 5px;
}
.VanzBodyContentDetailMetaBodyList p {
  font-size: 13px;
  font-weight: bold;
}
.VanzMedia {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20%;
  height: 100%;
  display: flex;
  opacity: 0;
  pointer-events: none;
  align-items: center;
  flex-direction: column;
  transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  z-index: 99999999;
}
.VanzMedia.VanzMediaShow {
  opacity: 1;
  pointer-events: auto;
}
.VanzMedia .VanzMediaOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: #000;
}
.VanzMedia.VanzMediaShow .VanzMediaContent {
  transform: translateX(0);
  transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
}
.VanzMedia .VanzMediaContent {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: #fff;
  transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.VanzMediaContent .VanzMediaContentBody {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  place-content: center;
  place-items: center;
  margin-top: 20px;
}
.VanzMediaContent .VanzMediaContentBody i {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  place-content: center;
  place-items: center;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  font-size: 23px;
  background: #eee;
  border-radius: 5px;
  padding: 6px;
  margin-bottom: 10px;
}
.VanzMediaContent .BtnClose i {
  background: red;
  color: white;
  transition: 0.5s ease-in-out;
}
.VanzMediaContentBody i:hover {
  background: #000;
  color: #eee;
  transition: 0.5s ease-in-out;
}
.VanzMediaContentBottomNav {
  width: 100%;
  z-index: 99999999;
}
.VanzMediaContentBottomNav .MkxVanz {
  position: absolute;
  transform: rotate(90deg);
  font-size: 20px;
  bottom: 125px;
  left: 15px;
  font-weight: bold;
  color: #ddd;
}
.VanzMediaContentBottomNav .MkxMedia {
  position: absolute;
  transform: rotate(90deg);
  font-size: 20px;
  bottom: 70px;
  left: 9px;
  font-weight: bold;
  color: #ddd;
}
/* End Default Styles */
/* Custome Style Start */
@media screen and (min-width: 400px) {
  .VanzBody {
    position: relative;
    width: 100%;
  }
  .VanzBody .VanzBodyContent {
    position: relative;
    top: 100px;
    height: 500px;
    background: #fff;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .VanzBodyContentImageHeader {
    height: 100px;
    background-image: url("https://ems-links.netlify.app/assets/images/xchl.jpg");
    background-position: center;
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .VanzBodyContentImageMeta {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
  }
  .VanzBodyContentImageMeta img {
    position: relative;
    width: 80px;
    border-radius: 50px;
    bottom: 40px;
    border: 5px solid #fff;
  }
  .VanzBodyContentNameXBio {
    position: relative;
    bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .VanzBodyContentNameXBio h4 {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .VanzBodyContentNameXBio p {
    font-size: 13px;
    font-family: "Inter", sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .VanzBodyContentAbout {
    position: relative;
    bottom: 30px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .VanzBodyContentAbout .VanzBodyContentAboutHeader h4 {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    text-transform: uppercase;
  }
  .VanzBodyContentAbout .VanzBodyContentAboutMeta p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    font-family: "Inter", sans-serif;
  }
  .VanzBodyContentSince {
    position: relative;
    bottom: 10px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .VanzBodyContentSince .VanzBodyContentSinceHeader h4 {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    text-transform: uppercase;
  }
  .VanzBodyContentSinceMeta {
    position: relative;
    display: flex;
    padding: 10px;
  }
  .VanzBodyContentSinceMeta .VanzBodyContentSinceMetaContent {
    position: relative;
    display: flex;
    margin: 10px;
  }
  .VanzBodyContentSinceMetaContent i {
    font-size: 20px;
  }
  .VanzBodyContentSinceMetaContent p {
    position: relative;
    top: 3px;
    font-size: 13px;
    margin-left: 5px;
  }
  .VanzBodyContentDetail {
    position: relative;
    bottom: 10px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .VanzBodyContentDetail .VanzBodyContentDetailHeader h4 {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    text-transform: uppercase;
  }
  .VanzBodyContentDetailMeta {
    position: relative;
  }
  .VanzBodyContentDetailMetaBody {
    position: relative;
    display: flex;
    padding: 10px;
  }
  .VanzBodyContentDetailMetaBodyList {
    position: relative;
    display: flex;
    width: 100%;
    margin: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items; center;
    place-content: center;
    place-items; center;
    transition: 0.5s ease-in-out;
  }
  .VanzBodyContentDetailMetaBodyList:hover {
    background: none;
    transition: 0.5s ease-in-out;
  }
  .VanzBodyContentDetailMetaBodyList i {
    font-size: 16px;
    margin-right: 5px;
  }
  .VanzBodyContentDetailMetaBodyList p {
    font-size: 13px;
    font-weight: bold;
  }
  .VanzMedia {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 100%;
    display: flex;
    opacity: 0;
    pointer-events: none;
    align-items: center;
    flex-direction: column;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 99999999;
  }
  .VanzMedia.VanzMediaShow {
    opacity: 1;
    pointer-events: auto;
  }
  .VanzMedia .VanzMediaOverlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: #000;
  }
  .VanzMedia.VanzMediaShow .VanzMediaContent {
    transform: translateX(0);
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VanzMedia .VanzMediaContent {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: #fff;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .VanzMediaContent .VanzMediaContentBody {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    place-content: center;
    place-items: center;
    margin-top: 20px;
  }
  .VanzMediaContent .VanzMediaContentBody i {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    place-content: center;
    place-items: center;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-size: 23px;
    background: #eee;
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 10px;
  }
  .VanzMediaContent .BtnClose i {
    background: red;
    color: white;
    transition: 0.5s ease-in-out;
  }
  .VanzMediaContentBody i:hover {
    background: #000;
    color: #eee;
    transition: 0.5s ease-in-out;
  }
  .VanzMediaContentBottomNav {
    width: 100%;
    z-index: 99999999;
  }
  .VanzMediaContentBottomNav .MkxVanz {
    position: absolute;
    transform: rotate(90deg);
    font-size: 20px;
    bottom: 125px;
    left: 15px;
    font-weight: bold;
    color: #ddd;
  }
  .VanzMediaContentBottomNav .MkxMedia {
    position: absolute;
    transform: rotate(90deg);
    font-size: 20px;
    bottom: 70px;
    left: 9px;
    font-weight: bold;
    color: #ddd;
  }
}
@media screen and (min-width: 390px) {
  .VanzBody {
    position: relative;
    width: 100%;
  }
  .VanzBody .VanzBodyContent {
    position: relative;
    top: 100px;
    height: 500px;
    background: #fff;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .VanzBodyContentImageHeader {
    height: 100px;
    background-image: url("https://ems-links.netlify.app/assets/images/xchl.jpg");
    background-position: center;
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .VanzBodyContentImageMeta {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
  }
  .VanzBodyContentImageMeta img {
    position: relative;
    width: 80px;
    border-radius: 50px;
    bottom: 40px;
    border: 5px solid #fff;
  }
  .VanzBodyContentNameXBio {
    position: relative;
    bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .VanzBodyContentNameXBio h4 {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .VanzBodyContentNameXBio p {
    font-size: 13px;
    font-family: "Inter", sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .VanzBodyContentAbout {
    position: relative;
    bottom: 30px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .VanzBodyContentAbout .VanzBodyContentAboutHeader h4 {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    text-transform: uppercase;
  }
  .VanzBodyContentAbout .VanzBodyContentAboutMeta p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    font-family: "Inter", sans-serif;
  }
  .VanzBodyContentSince {
    position: relative;
    bottom: 10px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .VanzBodyContentSince .VanzBodyContentSinceHeader h4 {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    text-transform: uppercase;
  }
  .VanzBodyContentSinceMeta {
    position: relative;
    display: flex;
    padding: 10px;
  }
  .VanzBodyContentSinceMeta .VanzBodyContentSinceMetaContent {
    position: relative;
    display: flex;
    margin: 10px;
  }
  .VanzBodyContentSinceMetaContent i {
    font-size: 20px;
  }
  .VanzBodyContentSinceMetaContent p {
    position: relative;
    top: 3px;
    font-size: 13px;
    margin-left: 5px;
  }
  .VanzBodyContentDetail {
    position: relative;
    bottom: 10px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .VanzBodyContentDetail .VanzBodyContentDetailHeader h4 {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    text-transform: uppercase;
  }
  .VanzBodyContentDetailMeta {
    position: relative;
  }
  .VanzBodyContentDetailMetaBody {
    position: relative;
    display: flex;
    padding: 10px;
  }
  .VanzBodyContentDetailMetaBodyList {
    position: relative;
    display: flex;
    width: 100%;
    margin: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items; center;
    place-content: center;
    place-items; center;
    transition: 0.5s ease-in-out;
  }
  .VanzBodyContentDetailMetaBodyList:hover {
    background: none;
    transition: 0.5s ease-in-out;
  }
  .VanzBodyContentDetailMetaBodyList i {
    font-size: 16px;
    margin-right: 5px;
  }
  .VanzBodyContentDetailMetaBodyList p {
    font-size: 13px;
    margin-left: 5px;
    font-weight: bold;
  }
  .VanzMedia {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 100%;
    display: flex;
    opacity: 0;
    pointer-events: none;
    align-items: center;
    flex-direction: column;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 99999999;
  }
  .VanzMedia.VanzMediaShow {
    opacity: 1;
    pointer-events: auto;
  }
  .VanzMedia .VanzMediaOverlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: #000;
  }
  .VanzMedia.VanzMediaShow .VanzMediaContent {
    transform: translateX(0);
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VanzMedia .VanzMediaContent {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: #fff;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .VanzMediaContent .VanzMediaContentBody {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    place-content: center;
    place-items: center;
    margin-top: 20px;
  }
  .VanzMediaContent .VanzMediaContentBody i {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    place-content: center;
    place-items: center;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-size: 23px;
    background: #eee;
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 10px;
  }
  .VanzMediaContent .BtnClose i {
    background: red;
    color: white;
    transition: 0.5s ease-in-out;
  }
  .VanzMediaContentBody i:hover {
    background: #000;
    color: #eee;
    transition: 0.5s ease-in-out;
  }
  .VanzMediaContentBottomNav {
    width: 100%;
    z-index: 99999999;
  }
  .VanzMediaContentBottomNav .MkxVanz {
    position: absolute;
    transform: rotate(90deg);
    font-size: 20px;
    bottom: 125px;
    left: 15px;
    font-weight: bold;
    color: #ddd;
  }
  .VanzMediaContentBottomNav .MkxMedia {
    position: absolute;
    transform: rotate(90deg);
    font-size: 20px;
    bottom: 70px;
    left: 9px;
    font-weight: bold;
    color: #ddd;
  }
}
@media screen and (min-width: 380px) {
  .VanzBody {
    position: relative;
    width: 100%;
  }
  .VanzBody .VanzBodyContent {
    position: relative;
    top: 100px;
    height: 500px;
    background: #fff;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .VanzBodyContentImageHeader {
    height: 100px;
    background-image: url("https://ems-links.netlify.app/assets/images/xchl.jpg");
    background-position: center;
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .VanzBodyContentImageMeta {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
  }
  .VanzBodyContentImageMeta img {
    position: relative;
    width: 80px;
    border-radius: 50px;
    bottom: 40px;
    border: 5px solid #fff;
  }
  .VanzBodyContentNameXBio {
    position: relative;
    bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .VanzBodyContentNameXBio h4 {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .VanzBodyContentNameXBio p {
    font-size: 13px;
    font-family: "Inter", sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .VanzBodyContentAbout {
    position: relative;
    bottom: 30px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .VanzBodyContentAbout .VanzBodyContentAboutHeader h4 {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    text-transform: uppercase;
  }
  .VanzBodyContentAbout .VanzBodyContentAboutMeta p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    font-family: "Inter", sans-serif;
  }
  .VanzBodyContentSince {
    position: relative;
    bottom: 10px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .VanzBodyContentSince .VanzBodyContentSinceHeader h4 {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    text-transform: uppercase;
  }
  .VanzBodyContentSinceMeta {
    position: relative;
    display: flex;
    padding: 10px;
  }
  .VanzBodyContentSinceMeta .VanzBodyContentSinceMetaContent {
    position: relative;
    display: flex;
    margin: 10px;
  }
  .VanzBodyContentSinceMetaContent i {
    font-size: 20px;
  }
  .VanzBodyContentSinceMetaContent p {
    position: relative;
    top: 3px;
    font-size: 13px;
    margin-left: 5px;
  }
  .VanzBodyContentDetail {
    position: relative;
    bottom: 10px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .VanzBodyContentDetail .VanzBodyContentDetailHeader h4 {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    text-transform: uppercase;
  }
  .VanzBodyContentDetailMeta {
    position: relative;
  }
  .VanzBodyContentDetailMetaBody {
    position: relative;
    display: flex;
    padding: 10px;
  }
  .VanzBodyContentDetailMetaBodyList {
    position: relative;
    display: flex;
    width: 100%;
    margin: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items; center;
    place-content: center;
    place-items; center;
    transition: 0.5s ease-in-out;
  }
  .VanzBodyContentDetailMetaBodyList:hover {
    background: none;
    transition: 0.5s ease-in-out;
  }
  .VanzBodyContentDetailMetaBodyList i {
    font-size: 16px;
    margin-right: 5px;
  }
  .VanzBodyContentDetailMetaBodyList p {
    font-size: 13px;
    font-weight: bold;
  }
  .VanzMedia {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 100%;
    display: flex;
    opacity: 0;
    pointer-events: none;
    align-items: center;
    flex-direction: column;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 99999999;
  }
  .VanzMedia.VanzMediaShow {
    opacity: 1;
    pointer-events: auto;
  }
  .VanzMedia .VanzMediaOverlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: #000;
  }
  .VanzMedia.VanzMediaShow .VanzMediaContent {
    transform: translateX(0);
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VanzMedia .VanzMediaContent {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: #fff;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .VanzMediaContent .VanzMediaContentBody {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    place-content: center;
    place-items: center;
    margin-top: 20px;
  }
  .VanzMediaContent .VanzMediaContentBody i {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    place-content: center;
    place-items: center;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-size: 23px;
    background: #eee;
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 10px;
  }
  .VanzMediaContent .BtnClose i {
    background: red;
    color: white;
    transition: 0.5s ease-in-out;
  }
  .VanzMediaContentBody i:hover {
    background: #000;
    color: #eee;
    transition: 0.5s ease-in-out;
  }
  .VanzMediaContentBottomNav {
    width: 100%;
    z-index: 99999999;
  }
  .VanzMediaContentBottomNav .MkxVanz {
    position: absolute;
    transform: rotate(90deg);
    font-size: 20px;
    bottom: 125px;
    left: 15px;
    font-weight: bold;
    color: #ddd;
  }
  .VanzMediaContentBottomNav .MkxMedia {
    position: absolute;
    transform: rotate(90deg);
    font-size: 20px;
    bottom: 70px;
    left: 9px;
    font-weight: bold;
    color: #ddd;
  }
}
@media screen and (min-width: 370px) {
  .VanzBody {
    position: relative;
    width: 100%;
  }
  .VanzBody .VanzBodyContent {
    position: relative;
    top: 100px;
    height: 500px;
    background: #fff;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .VanzBodyContentImageHeader {
    height: 100px;
    background-image: url("https://ems-links.netlify.app/assets/images/xchl.jpg");
    background-position: center;
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .VanzBodyContentImageMeta {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
  }
  .VanzBodyContentImageMeta img {
    position: relative;
    width: 80px;
    border-radius: 50px;
    bottom: 40px;
    border: 5px solid #fff;
  }
  .VanzBodyContentNameXBio {
    position: relative;
    bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .VanzBodyContentNameXBio h4 {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .VanzBodyContentNameXBio p {
    font-size: 13px;
    font-family: "Inter", sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .VanzBodyContentAbout {
    position: relative;
    bottom: 30px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .VanzBodyContentAbout .VanzBodyContentAboutHeader h4 {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    text-transform: uppercase;
  }
  .VanzBodyContentAbout .VanzBodyContentAboutMeta p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    font-family: "Inter", sans-serif;
  }
  .VanzBodyContentSince {
    position: relative;
    bottom: 10px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .VanzBodyContentSince .VanzBodyContentSinceHeader h4 {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    text-transform: uppercase;
  }
  .VanzBodyContentSinceMeta {
    position: relative;
    display: flex;
    padding: 10px;
  }
  .VanzBodyContentSinceMeta .VanzBodyContentSinceMetaContent {
    position: relative;
    display: flex;
    margin: 10px;
  }
  .VanzBodyContentSinceMetaContent i {
    font-size: 20px;
  }
  .VanzBodyContentSinceMetaContent p {
    position: relative;
    top: 3px;
    font-size: 13px;
    margin-left: 5px;
  }
  .VanzBodyContentDetail {
    position: relative;
    bottom: 10px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .VanzBodyContentDetail .VanzBodyContentDetailHeader h4 {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    text-transform: uppercase;
  }
  .VanzBodyContentDetailMeta {
    position: relative;
  }
  .VanzBodyContentDetailMetaBody {
    position: relative;
    display: flex;
    padding: 10px;
  }
  .VanzBodyContentDetailMetaBodyList {
    position: relative;
    display: flex;
    width: 100%;
    margin: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items; center;
    place-content: center;
    place-items; center;
    transition: 0.5s ease-in-out;
  }
  .VanzBodyContentDetailMetaBodyList:hover {
    background: none;
    transition: 0.5s ease-in-out;
  }
  .VanzBodyContentDetailMetaBodyList i {
    font-size: 16px;
    margin-right: 5px;
  }
  .VanzBodyContentDetailMetaBodyList p {
    font-size: 13px;
    font-weight: bold;
  }
  .VanzMedia {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 100%;
    display: flex;
    opacity: 0;
    pointer-events: none;
    align-items: center;
    flex-direction: column;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 99999999;
  }
  .VanzMedia.VanzMediaShow {
    opacity: 1;
    pointer-events: auto;
  }
  .VanzMedia .VanzMediaOverlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: #000;
  }
  .VanzMedia.VanzMediaShow .VanzMediaContent {
    transform: translateX(0);
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VanzMedia .VanzMediaContent {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: #fff;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .VanzMediaContent .VanzMediaContentBody {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    place-content: center;
    place-items: center;
    margin-top: 20px;
  }
  .VanzMediaContent .VanzMediaContentBody i {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    place-content: center;
    place-items: center;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-size: 23px;
    background: #eee;
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 10px;
  }
  .VanzMediaContent .BtnClose i {
    background: red;
    color: white;
    transition: 0.5s ease-in-out;
  }
  .VanzMediaContentBody i:hover {
    background: #000;
    color: #eee;
    transition: 0.5s ease-in-out;
  }
  .VanzMediaContentBottomNav {
    width: 100%;
    z-index: 99999999;
  }
  .VanzMediaContentBottomNav .MkxVanz {
    position: absolute;
    transform: rotate(90deg);
    font-size: 20px;
    bottom: 125px;
    left: 15px;
    font-weight: bold;
    color: #ddd;
  }
  .VanzMediaContentBottomNav .MkxMedia {
    position: absolute;
    transform: rotate(90deg);
    font-size: 20px;
    bottom: 70px;
    left: 9px;
    font-weight: bold;
    color: #ddd;
  }
}
@media screen and (min-width: 360px) {
  .VanzBody {
    position: relative;
    width: 100%;
  }
  .VanzBody .VanzBodyContent {
    position: relative;
    top: 100px;
    height: 500px;
    background: #fff;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .VanzBodyContentImageHeader {
    height: 100px;
    background-image: url("https://ems-links.netlify.app/assets/images/xchl.jpg");
    background-position: center;
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .VanzBodyContentImageMeta {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
  }
  .VanzBodyContentImageMeta img {
    position: relative;
    width: 80px;
    border-radius: 50px;
    bottom: 40px;
    border: 5px solid #fff;
  }
  .VanzBodyContentNameXBio {
    position: relative;
    bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .VanzBodyContentNameXBio h4 {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .VanzBodyContentNameXBio p {
    font-size: 13px;
    font-family: "Inter", sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .VanzBodyContentAbout {
    position: relative;
    bottom: 30px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .VanzBodyContentAbout .VanzBodyContentAboutHeader h4 {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    text-transform: uppercase;
  }
  .VanzBodyContentAbout .VanzBodyContentAboutMeta p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    font-family: "Inter", sans-serif;
  }
  .VanzBodyContentSince {
    position: relative;
    bottom: 10px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .VanzBodyContentSince .VanzBodyContentSinceHeader h4 {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    text-transform: uppercase;
  }
  .VanzBodyContentSinceMeta {
    position: relative;
    display: flex;
    padding: 10px;
  }
  .VanzBodyContentSinceMeta .VanzBodyContentSinceMetaContent {
    position: relative;
    display: flex;
    margin: 20px;
    bottom: 10px;
  }
  .VanzBodyContentSinceMetaContent i {
    font-size: 20px;
  }
  .VanzBodyContentSinceMetaContent p {
    position: relative;
    top: 3px;
    font-size: 13px;
    margin-left: 5px;
  }
  .VanzBodyContentDetail {
    position: relative;
    bottom: 25px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .VanzBodyContentDetail .VanzBodyContentDetailHeader h4 {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    text-transform: uppercase;
  }
  .VanzBodyContentDetailMeta {
    position: relative;
  }
  .VanzBodyContentDetailMetaBody {
    position: relative;
    display: flex;
    padding: 10px;
  }
  .VanzBodyContentDetailMetaBodyList {
    position: relative;
    display: flex;
    width: 100%;
    margin: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    text-align: center;
    justify-content: center;
    align-items; center;
    place-content: center;
    place-items; center;
  }
  .VanzBodyContentDetailMetaBodyList:hover {
    background: none;
    transition: 0.5s ease-in-out;
  }
  .VanzBodyContentDetailMetaBodyList i {
    font-size: 16px;
    margin-right: 5px;
  }
  .VanzBodyContentDetailMetaBodyList p {
    font-weight: bold;
    font-size: 13px;
  }
  .VanzMedia {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 100%;
    display: flex;
    opacity: 0;
    pointer-events: none;
    align-items: center;
    flex-direction: column;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 99999999;
  }
  .VanzMedia.VanzMediaShow {
    opacity: 1;
    pointer-events: auto;
  }
  .VanzMedia .VanzMediaOverlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: #000;
  }
  .VanzMedia.VanzMediaShow .VanzMediaContent {
    transform: translateX(0);
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
  }
  .VanzMedia .VanzMediaContent {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: #fff;
    transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .VanzMediaContent .VanzMediaContentBody {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    place-content: center;
    place-items: center;
    margin-top: 20px;
  }
  .VanzMediaContent .VanzMediaContentBody i {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    place-content: center;
    place-items: center;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-size: 23px;
    background: #eee;
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 10px;
  }
  .VanzMediaContent .BtnClose i {
    background: red;
    color: white;
    transition: 0.5s ease-in-out;
  }
  .VanzMediaContentBody i:hover {
    background: #000;
    color: #eee;
    transition: 0.5s ease-in-out;
  }
  .VanzMediaContentBottomNav {
    width: 100%;
    z-index: 99999999;
  }
  .VanzMediaContentBottomNav .MkxVanz {
    position: absolute;
    transform: rotate(90deg);
    font-size: 20px;
    bottom: 125px;
    left: 15px;
    font-weight: bold;
    color: #ddd;
  }
  .VanzMediaContentBottomNav .MkxMedia {
    position: absolute;
    transform: rotate(90deg);
    font-size: 20px;
    bottom: 70px;
    left: 9px;
    font-weight: bold;
    color: #ddd;
  }
}
/* Custome Style End */
