@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
::selection {
  background: purple;
  color: white;
}
body {
  position: relative;
  justify-content: center;
  align-items: center;
}
section {
  position: relative;
  background: #fff;
  min-height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
}
section::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background: black;
  border-radius: 50%;
  transform: translate(-250px, -120px);
}
section::after {
  content: "";
  position: absolute;
  width: 350px;
  height: 350px;
  background: black;
  border-radius: 50%;
  transform: translate(250px, 150px);
}
.box {
  position: relative;
  min-width: 300px;
  min-height: 200px;
  width: 200px;
  /* height: 300px; */
  background: #212121;
  border-radius: 5px;
  z-index: 10;
  padding: 20px;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
  /* grid-template-columns: repeat(auto-fit, minmax(150px, lfr)); */
}
.box h3 {
  color: #2d5cfe;
  padding: 15px;
}
.MKdexsc {
  color: grey;
  font-size: 10px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.MkBottom {
  color: grey;
  margin-bottom: 30px;
}
.us {
  /* position: relative; */
  display: block;
  font-size: 30px;
  justify-content: space-between;
  position: absolute;
  right: 25px;
  top: 35px;
  padding: 10px;
  color: rgb(255, 247, 0);
  cursor: pointer;
  transition: 1s;
}
.us:hover {
  color: white;
  transform: scale(1.01);
}
.list-links.active {
  position: relative;
  height: 300px;
  transition: 1s ease-in-out;
  /* bottom: 50px; */
}
.box .list-links {
  position: relative;
  display: flex;
  padding: 10px;
  background: black;
  border: 1px solid rgb(255, 247, 0);
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  transition: 1s ease-in-out;
  overflow: hidden;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.box .list-links:hover {
  background: #fff;
  box-shadow: -15px 30px 50px rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
  z-index: 1000;
  border: none;
}
.box .list-links:hover .MKNexxx {
  color: #000;
}
.box .list-links .img-list {
  position: relative;
  width: 60px;
  height: 60px;
  everflow: hidden;
  margin-right: 15px;
}
.box .list-links .img-list i {
  position: absolute;
  object-fit: cover;
  padding: 10px;
  width: 100%;
  height: 100%;
  left: 10px;
  font-size: 30px;
  border-radius: 10px;
  color: #2d5cfe;
}
.MKNexxx {
  position: absolute;
  font-size: 30px;
  color: white;
  top: 20px;
  right: 10px;
}
.box .list-links .list-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #2d5cfe;
}
.box .list-links .list-content h4 {
  line-height: 1.2em;
  font-weight: 600;
  transition: 0.5s;
}
.box .list-links .list-content p {
  font-size: 0.75em;
  transition: 0.5s;
}
.box .list-links:hover .list-content h4,
.box .list-links:hover .list-content p {
  color: #333;
}
.ig {
  color: #e1306c;
  cursor: pointer;
}
.fb {
  color: #4267b2;
  cursor: pointer;
}
.tl {
  color: lightblue;
  cursor: pointer;
}
.yt {
  color: red;
  cursor: pointer;
}
.foot:hover {
  color: white;
  cursor: pointer;
  opacity: 1;
}
.footer:hover {
  color: white;
}
.bottom-sheet {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  pointer-events: none;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  transition: 1s linear;
  z-index: 99999999;
}
.bottom-sheet.show {
  opacity: 1;
  pointer-events: auto;
}
.bottom-sheet .sheet-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: #000;
}
.bottom-sheet .content {
  width: 100%;
  position: relative;
  background: #fff;
  max-height: 100vh;
  height: 40vh;
  max-width: 1150px;
  padding: 25px 30px;
  transform: translateY(100%);
  border-radius: 12px 12px 0 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.03);
  transition: 1s ease;
}
.bottom-sheet.show .content {
  transform: translateY(0%);
}
.bottom-sheet.dragging .content {
  transition: none;
}
.bottom-sheet.fullscreen .content {
  border-radius: 12px 12px 0 0;
  overflow-y: hidden;
}
.bottom-sheet .header {
  display: flex;
  justify-content: center;
}
.header .drag-icon {
  cursor: grab;
  user-select: none;
  padding: 15px;
  margin-top: -15px;
}
.header .drag-icon span {
  height: 4px;
  width: 40px;
  display: block;
  background: #c7d0e1;
  border-radius: 50px;
}
.bottom-sheet .body {
  height: 100%;
  overflow-y: auto;
  padding: 15px 0 40px;
  scrollbar-width: none;
}
.bottom-sheet .body::-webkit-scrollbar {
  width: 0;
}
.bottom-sheet h2 {
  font-size: 1.8rem;
  margin-bottom: -30px;
}
.bottom-sheet .body p {
  margin-top: 20px;
  font-size: 1.05rem;
}
.MkDragListTittle {
  padding: 5px;
  font-weight: normal;
  font-size: 15px;
  margin-bottom: 10px;
}
.MKTittleHeader {
  display: flex;
  margin-bottom: -10px;
}
.MKIcHeader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 25px;
  left: 200px;
  bottom: 7px;
  border-radius: 50%;
  color: #2d5cfe;
  /* background: #574484; */
  height: 25px;
  width: 25px;
  padding: 10px;
}
.MKIcChange {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 25px;
  left: 245px;
  bottom: 50px;
  border-radius: 50%;
  color: #2d5cfe;
  height: 25px;
  width: 25px;
  padding: 10px;
  margin-bottom: -50px;
}
.MkDragPrev {
  position: relative;
  display: flex;
  background: transparent;
  padding: 20px;
  height: 10px;
  border-radius: 12px 12px;
  margin-bottom: 10px;
  transition: 0.5s ease-in-out;
  margin-top: 10px;
}
.MkDragPrev .MkDragIc {
  position: relative;
  display: flex;
  color: #2d5cfe;
  font-size: 25px;
  margin-left: 10px;
  margin-right: 5px;
  bottom: 7px;
  right: 15px;
}
.MkDragPrev:hover {
  transition: 0.5s ease-in-out;
  background: #000;
}
.MkDragPrev .MkDragxContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #2d5cfe;
}
.MkDragPrev .MkDragxContent h5 {
  line-height: 1.1em;
  font-weight: 600;
  transition: 0.5s;
}
.MkDragPrev .MkDragxContent p {
  line-height: 1.2em;
  font-size: 12px;
  font-weight: normal;
  transition: 0.5s;
}
.MkDragPrev .MkDragIcNext {
  position: absolute;
  right: 10px;
  bottom: 10px;
  /* margin-left: 100px; */
  color: #2d5cfe;
  font-size: 30px;
}
.icons a {
  background: #ecf0f3;
  position: relative;
  height: 30px;
  width: 30px;
  left: 10px;
  margin: 0 10px;
  display: inline-flex;
  text-decoration: none;
  border-radius: 50%;
  transition: all 0.3s;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
  margin-top: 30px;
}
.icons a:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background: #ecf0f3;
  box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
}
.icons a i {
  position: relative;
  z-index: 3;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  line-height: 60px;
  bottom: 15px;
}
.icons a:hover i {
  transform: scale(0.9);
}
.icons a.fb i {
  color: #4267b2;
}
.icons a.twitter i {
  color: #1da1f2;
}
.icons a.insta i {
  color: #e1306c;
}
.icons a.git i {
  color: #333;
}
.icons a.yt i {
  color: #ff0000;
}
@media screen and (max-width: 360px) {
  .box {
    min-width: 280px;
  }
  .box .list-links .footer {
    justify-content: center;
    text-align: center;
    align-items: center;
    position: center;
  }
  .bottom-sheet {
    width: 80%;
    left: 35px;
  }
  .bottom-sheet h2 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
  }
  .bottom-sheet .content {
    margin-bottom: -30px;
  }
}
