@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Helvetica, Arial", sans-serif; */
  font-family: Chilanka, sans-serif;
}
.swal2-popup {
  font-family: "Poppins", sans-serif;
}
:root {
  --hue: 207;
  --sat: 90%;
  --lig: 61%;
  --first-color: hsl(var(--hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--hue), var(--sat), 57%); /* -4% */
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: #2d5cfe;
  --text-color-light: hsl(var(--hue), 8%, 75%);
  --text-color-lighten: hsl(var(--hue), 8%, 92%);
  --body-color: #fff;
  --container-color: #fff;
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
}

::selection {
  background: purple;
  color: white;
}
body {
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #c7d0e1;
  height: 300px;
  /* transition: 1s; */
}
body.dark-theme {
  background-image: url("https://images.unsplash.com/photo-1627398242454-45a1465c2479?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzh8fGNvZGV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  --title-color: hsl(var(--hue), 12%, 95%);
  --text-color: hsl(var(--hue), 12%, 75%);
  /*  --body-color: hsl(var(--hue), 40%, 8%); */
  --container-color: hsl(var(--hue), 24%, 12%);
  transition: 0.5s;
}
.dark-theme .box {
  background-color: #212121;
  border: none;
}
.dark-theme .box .us {
  color: white;
}
.dark-theme .box h3 {
  color: white;
}
.dark-theme .box .list-links {
  background: transparent;
}
.dark-theme .box .list-links .img-list i {
  color: white;
}
.dark-theme .box .list-links .list-content {
  color: white;
}
.dark-theme .box .list-links:hover .img-list i {
  color: black;
}
.dark-theme .box .MKdexsc {
  color: white;
}
.dark-theme .bottom-sheet .content {
  background-color: #212121;
  border: 0.5px solid #c7d0e1;
}
.dark-theme .bottom-sheet .content .body {
  color: white;
}
.dark-theme .bottom-sheet .content .body .MkxBodyMusic .boxContainer .MusicBox {
  background-color: white;
}
.dark-theme .MkxxSettingsBack {
  color: white;
}
.dark-theme .box .MkxxFooterx {
  color: white;
}
#myAudio {
  visibility: hidden;
  opacity: 0;
  display: none;
}
section {
  position: relative;
  /* background: linear-gradient(85deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 124, 1) 0%, rgba(106, 106, 106, 1) 49%); */
  min-height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
}
section::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  /* background: black; */
  border-radius: 50%;
  transform: translate(-250px, -120px);
}
section::after {
  content: "";
  position: absolute;
  width: 350px;
  height: 350px;
  /* background: black; */
  border-radius: 50%;
  transform: translate(250px, 150px);
}
.MkxCodexLink:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}
.MkxCodexLink:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}
.box {
  position: relative;
  min-width: 300px;
  min-height: 200px;
  width: 200px;
  /* height: 300px; */
  background: #fff;
  border-radius: 10px;
  z-index: 10;
  padding: 20px;
  /* box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60); */
  border: 4px solid #c7d0e1;
  transition: 0.5s;
  /* grid-template-columns: repeat(auto-fit, minmax(150px, lfr)); */
}
.box h3 {
  color: #2d5cfe;
  padding: 15px;
  font-size: 15px;
  /* animation: glitch 1s linear; */
}
.MKdexsc {
  color: grey;
  font-size: 10px;
  letter-spacing: 1.3px;
  margin-bottom: 15px;
  margin-top: 5px;
}
.MkBottom {
  color: #c7d0e1;
  margin-bottom: 30px;
}
.MkxVeriv {
  position: relative;
  top: 3px;
  color: #42a5f5;
  font-size: 18px;
}
.us {
  /* position: relative; */
  display: block;
  font-size: 30px;
  justify-content: space-between;
  position: absolute;
  right: 25px;
  top: 30px;
  padding: 10px;
  color: #c7d0e1;
  cursor: pointer;
  transition: 1s;
}
.us:hover {
  color: #42a5f5;
  transform: scale(1.01);
}
.list-links.active {
  position: relative;
  height: 300px;
  transition: 1s ease-in-out;
  /* bottom: 50px; */
}
.box .list-links {
  position: relative;
  display: flex;
  padding: 10px;
  background: #c7d0e1b4;
  /* border: 0.5px solid #c7d0e1; */
  /* box-shadow: 0 5px 15px #c7d0e1; */
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  transition: 1s ease-in-out;
  overflow: hidden;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.box .list-links:hover {
  background: #fff;
  box-shadow: -15px 30px 50px rgba(0, 0, 0, 0.5);
  transform: scale(1);
  z-index: 1000;
  border: none;
}
.box .list-links:hover .MKNexxx {
  color: #000;
}
.box .list-links .img-list {
  position: relative;
  width: 60px;
  height: 60px;
  everflow: hidden;
  margin-right: -10px;
}
.box .list-links .img-list i {
  position: absolute;
  object-fit: cover;
  padding: 10px;
  width: 100%;
  height: 100%;
  left: -5px;
  bottom: -13px;
  font-size: 25px;
  border-radius: 10px;
  /* color: #2d5cfe; */
}
.MKNexxx {
  position: absolute;
  font-size: 30px;
  color: white;
  top: 10px;
  right: 10px;
}
.box .list-links .list-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #2600ff;
}
.box .list-links .list-content h4 {
  position: relative;
  line-height: 1.2em;
  font-weight: 600;
  transition: 0.5s;
  top: 3px;
}
.box .list-links .list-content p {
  font-size: 0.75em;
  transition: 0.5s;
}
.box .list-links:hover .list-content h4,
.box .list-links:hover .list-content p {
  color: #333;
}
.MkxxFooterx {
  text-align: center;
  font-size: 12px;
}
.MkxCodexLink {
  animation: glitch 1s linear infinite;
  color: #2d5cfe;
  font-weight: bold;
}
.mkall {
  color: #4267b2;
}
.spx {
  color: #1db954;
}
.ig {
  color: #e1306c;
  cursor: pointer;
}
.Bgig {
  background-color: #e1306c;
  cursor: pointer;
}
.fb {
  color: #4267b2;
  cursor: pointer;
}
.Bgtl {
  background-color: #38bdf8;
  cursor: pointer;
}
.tl {
  color: lightblue;
  cursor: pointer;
}
.yt {
  color: red;
  cursor: pointer;
}
.foot:hover {
  color: white;
  cursor: pointer;
  opacity: 1;
}
.footer:hover {
  color: white;
}
.bottom-sheet {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  display: flex;
  opacity: 0;
  pointer-events: none;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.3s linear;
  z-index: 99999999;
}
.bottom-sheet.show {
  opacity: 1;
  pointer-events: auto;
}
.bottom-sheet .sheet-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: #000;
  visibility: hidden;
}
.bottom-sheet .content {
  width: 100%;
  position: relative;
  background: #fff;
  max-height: 100vh;
  height: 40vh;
  max-width: 1150px;
  padding: 25px 30px;
  transform: translateY(100%);
  border-radius: 12px 12px 0 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 100);
  transition: 0.5s ease;
}
.bottom-sheet.show .content {
  transform: translateY(0%);
}
.bottom-sheet.dragging .content {
  transition: none;
}
.bottom-sheet.fullscreen .content {
  border-radius: 12px 12px 0 0;
  overflow-y: hidden;
}
.MkCircle {
  position: relative;
  border-radius: 50%;
  bottom: 3px;
  display: block;
  background: #c7d0e1;
  height: 10px;
  width: 10px;
  left: 10px;
}
.MkCirclex {
  position: relative;
  border-radius: 50%;
  bottom: 3px;
  display: block;
  background: #c7d0e1;
  height: 10px;
  width: 10px;
  right: 10px;
}
.bottom-sheet .header {
  display: flex;
  justify-content: center;
}
.header .drag-icon {
  cursor: grab;
  user-select: none;
  padding: 15px;
  margin-top: -15px;
}
.header .drag-icon span {
  height: 4px;
  width: 40px;
  display: block;
  background: #c7d0e1;
  border-radius: 50px;
}
.bottom-sheet .body {
  height: 100%;
  overflow-y: auto;
  padding: 15px 0 40px;
  scrollbar-width: none;
  justify-content: center;
  align-items: center;
}
.bottom-sheet .body::-webkit-scrollbar {
  width: 0;
}
.bottom-sheet h2 {
  font-size: 1.8rem;
  margin-bottom: -30px;
}
.bottom-sheet .body p {
  margin-top: 20px;
  font-size: 1.05rem;
}
.MkDragListTittle {
  padding: 5px;
  font-weight: normal;
  font-size: 15px;
  margin-bottom: 10px;
}
.MKTittleHeader {
  display: flex;
  margin-bottom: -10px;
}
.MkxBodyProfile {
  font-family: "Poppins", sans-serif;
  visibility: hidden;
  opacity: 0;
  display: none;
  transition: 1s ease-in-out;
}
.MkProfileImagesHeader {
  position: relative;
  height: 70px;
  width: 70px;
  justify-content: center;
  align-items: center;
  left: 108px;
  bottom: 10px;
  border-radius: 50%;
  border: 1px solid #c7d0e1;
}
.MkxBodyProfileTittle {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-top: -10px;
}
.MkxBodyProfileDesc {
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}
.MkxBodyProfileShareTitle {
  text-align: center;
  /* width: 300px; */
  font-size: 15px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: -5px;
  font-family: "Poppins", sans-serif;
}
.MkBodyProfileBtn {
  position: relative;
  margin-top: 20px;
  padding: 10px;
  width: 290px;
  border-radius: 10px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  transition: 0.5s ease-in-out;
}
.MkBodyProfileBtn:hover {
  background-color: #c7d0e1;
  color: #000;
}
.MkxBodySettings {
  font-family: "Poppins", sans-serif;
  visibility: hidden;
  opacity: 0;
  display: none;
  transition: 0.5s ease-in-out;
  animation: up 1s ease-in-out;
}
.MkSettingsImagesHeader {
  position: relative;
  display: flex;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  left: 10px;
  border-radius: 50%;
  border: 1px solid #c7d0e1;
}
.MkxBodySettingsTittle {
  position: relative;
  display: flex;
  font-size: 15px;
  font-weight: 700;
  left: 75px;
  bottom: 55px;
  font-family: "Poppins", sans-serif;
}
.MkxBodySettingsDesc {
  position: relative;
  display: flex;
  left: 75px;
  bottom: 60px;
  font-size: 12px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}
.MkxBodySettingList {
  position: relative;
  display: flex;
  padding: 10px;
  /* background: grey; */
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  overflow: hidden;
  height: 30px;
  margin-top: 20px;
  margin-bottom: -15px;
  bottom: 80px;
  font-family: "Poppins", sans-serif;
}
.MkxxSettingsBack {
  position: relative;
  left: 245px;
  bottom: 95px;
  font-size: 25px;
  color: #000;
  cursor: pointer;
  animation: pulse-animation 2s infinite;
  border-radius: 50%;
}
.MKSettingsNexxx {
  position: absolute;
  font-size: 30px;
  color: black;
  top: 10px;
  right: 10px;
}
.MkxxSettingsBtnBack {
  position: relative;
  margin-top: 20px;
  padding: 10px;
  width: 288px;
  border-radius: 10px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  bottom: 70px;
  border: none;
  transition: 1s;
}
.MkxBodySettingList .MkxImgList {
  position: relative;
  width: 60px;
  height: 60px;
  everflow: hidden;
  margin-right: -10px;
}
.MkxBodySettingList .MkxImgList i {
  position: absolute;
  object-fit: cover;
  padding: 10px;
  width: 100%;
  height: 100%;
  left: -5px;
  bottom: -13px;
  font-size: 25px;
  border-radius: 10px;
  /* color: #2d5cfe; */
}
.MkxBodySettingList .MkxSettingsListContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* color: #2600ff; */
}
.MkxBodySettingList .MkxSettingsListContent h4 {
  position: relative;
  line-height: 1.2em;
  font-weight: 600;
  transition: 0.5s;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  right: 10px;
}
.MkxBodySettingList .MkxSettingsListContent p {
  position: relative;
  right: 10px;
  font-size: 0.75em;
  transition: 0.5s;
  font-family: "Poppins", sans-serif;
}
.MkxBodySettingsShareTitle {
  text-align: center;
  /* width: 300px; */
  font-size: 15px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: -5px;
  font-family: "Poppins", sans-serif;
}
.MkBodySettingsBtn {
  position: relative;
  margin-top: 20px;
  padding: 10px;
  width: 290px;
  border-radius: 10px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.MkBodySettingsBtn:hover {
  background-color: #c7d0e1;
  color: #000;
}
.MkxBodyMusic {
  font-family: "Poppins", sans-serif;
  visibility: hidden;
  opacity: 0;
  display: none;
  transition: 1s ease-in-out;
}
.MkImagesHeader {
  position: relative;
  height: 70px;
  width: 70px;
  justify-content: center;
  align-items: center;
  left: 108px;
  bottom: 10px;
  border-radius: 50%;
  border: 1px solid #c7d0e1;
}
.MkxBodyMusicTittle {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-top: -10px;
}
.MkxBodyMusicDesc {
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}
.MkxBodyMusicShareTitle {
  text-align: center;
  /* width: 300px; */
  font-size: 13px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: -5px;
  font-family: "Poppins", sans-serif;
}
.MkBodyMusicBtn {
  position: relative;
  margin-top: 20px;
  padding: 10px;
  width: 290px;
  border-radius: 10px;
  border: none;
  background-color: #1db954;
  color: #fff;
  font-family: "Poppins", sans-serif;
  transition: 0.5s ease-in-out;
}
.MkBodyMusicBtn:hover {
  background-color: #c7d0e1;
  color: #000;
}
.MkBodyMusicBtn:hover .bxl-spotify {
  color: #000;
}
.bxl-spotify {
  position: relative;
  font-size: 30px;
  bottom: 35px;
  left: 10px;
  margin-right: 10px;
  color: #1db954;
}
.MkBodyMusicBtnA {
  position: relative;
  margin-top: 20px;
  padding: 10px;
  width: 280px;
  border-radius: 10px;
  border: none;
  background-color: #2d5cfe;
  color: #fff;
}
.boxContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 10px;
  --boxSize: 4px;
  --gutter: 4px;
  width: calc((var(--boxSize) + var(--gutter)) * 4);
  left: 128px;
  bottom: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.MusicBox {
  transform: scaleY(0.3);
  height: 100%;
  width: var(--boxSize);
  background: #000;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  border-radius: 8px;
}

.MusicBox1 {
  animation-name: quiet;
}

.MusicBox2 {
  animation-name: normal;
}

.MusicBox3 {
  animation-name: quiet;
}

.MusicBox4 {
  animation-name: loud;
}

.MusicBox5 {
  animation-name: quiet;
}
@keyframes sound {
  0% {
    opacity: 0.35;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 25px;
  }
}
@keyframes quiet {
  25% {
    transform: scaleY(0.6);
  }
  50% {
    transform: scaleY(0.4);
  }
  75% {
    transform: scaleY(0.8);
  }
}
@keyframes heart {
  0% {
    transform: translateY(0) rotate(-45deg) scale(0.3);
    opacity: 1;
  }

  100% {
    transform: translateY(-150px) rotate(-45deg) scale(1.3);
    opacity: 0.5;
  }
}
@keyframes up {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }
}

@keyframes normal {
  25% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.4);
  }
  75% {
    transform: scaleY(0.6);
  }
}
@keyframes loud {
  25% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.4);
  }
  75% {
    transform: scaleY(1.2);
  }
}
/* .MKIcHeader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 25px;
  left: 200px;
  bottom: 40px;
  border-radius: 50%;
  color: #2d5cfe;
  background: #574484;
  height: 25px;
  width: 25px;
  padding: 10px;
  margin-bottom: -50px;
  cursor: pointer;
} */
.MKIcChange {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 25px;
  left: 245px;
  bottom: 35px;
  border-radius: 50%;
  color: #2d5cfe;
  height: 25px;
  width: 25px;
  padding: 10px;
  margin-bottom: -30px;
  cursor: pointer;
}
.MkDragPrev {
  position: relative;
  display: flex;
  background: transparent;
  padding: 20px;
  height: 10px;
  border-radius: 12px 12px;
  margin-bottom: 10px;
  transition: 0.5s ease-in-out;
  margin-top: 10px;
}
.MkDragPrev .MkDragIc {
  position: relative;
  display: flex;
  color: #2d5cfe;
  font-size: 25px;
  margin-left: 10px;
  margin-right: 5px;
  bottom: 7px;
  right: 15px;
}
.MkDragPrev:hover {
  transition: 0.5s ease-in-out;
  background: #000;
}
.MkDragPrev .MkDragxContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #2d5cfe;
}
.MkDragPrev .MkDragxContent h5 {
  position: relative;
  top: 4px;
  line-height: 1.1em;
  font-weight: 600;
  transition: 0.5s;
}
.MkDragPrev .MkDragxContent p {
  position: relative;
  top: 4px;
  line-height: 1.2em;
  font-size: 12px;
  font-weight: normal;
  transition: 0.5s;
}
.MkDragPrev .MkDragIcNext {
  position: absolute;
  right: 10px;
  bottom: 10px;
  /* margin-left: 100px; */
  color: #2d5cfe;
  font-size: 30px;
}
.theme-selector button {
  position: relative;
  padding: 5px;
  height: 30px;
  justify-content: center;
  align-items: center;
  /* margin: 10px; */
  margin-left: 20px;
}
.icons a {
  background: #ecf0f3;
  position: relative;
  height: 30px;
  width: 30px;
  left: 31px;
  margin: 5px;
  display: inline-flex;
  text-decoration: none;
  border-radius: 50%;
  transition: all 0.3s;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
  margin-top: 30px;
}
.icons a:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background: #ecf0f3;
  box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
}
.icons a i {
  position: relative;
  z-index: 5;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  line-height: 60px;
  bottom: 15px;
}
.icons a:hover i {
  transform: scale(0.9);
}
.icons a.fb i {
  color: #4267b2;
}
.icons a.twitter i {
  color: #1da1f2;
}
.icons a.insta i {
  color: #e1306c;
}
.icons a.git i {
  color: #333;
}
.icons a.yt i {
  color: #ff0000;
}
#sarki {
  height: 15px;
  width: 300px;
  position: absolute;
  visibility: hidden;
  left: -110px;
  margin-top: -15px;
  color: blue;
  background: black;
}
.music-player {
  position: relative;
  visibility: visible;
  opacity: 0;
  transition: all 1s;
  top: -1000px;
  z-index: 99999;
  backdrop-filter: blur(10);
  background: transparent;
}
.music-details {
  width: 280px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.5) 0px 4px 8px 0px;
  color: #000;
  padding: 10px;
  border-radius: 10px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 5px;
  overflow: hidden;
  position: relative;
}
.music-details .mk-images {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin-right: 50px;
  color: #2d5cfe;
}
.music-poster {
  position: relative;
  width: 50px;
  height: 50px;
  everflow: hidden;
  margin-right: 150px;
  color: #2d5cfe;
  border-radius: 10px;
}
.mk-music-tittle {
  line-height: 1.2em;
  font-weight: 600;
  transition: 0.5s;
  margin-left: 60px;
  top: -40px;
  position: relative;
}
.mk-music-desc {
  font-size: 0.6em;
  transition: 0.5s;
  color: gray;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0.1rem;
  margin-left: 60px;
  top: -40px;
  position: relative;
}
.bi-pause-fill {
  display: none;
}
.volx {
  position: relative;
  left: 30px;
  margin-left: 30px;
}
.voly {
  position: relative;
  left: 30px;
  margin-left: 30px;
}
.list-mk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #2d5cfe;
}
input[type="range"] {
  width: 100%;
}
.player {
  /* margin-top: 10px; */
  text-align: center;
}

.player i {
  font-size: 25px;
  margin: 0 10px;
}

.bx-x {
  position: absolute;
  bottom: 85px;
  right: 5px;
  font-size: 30px !important;
  cursor: pointer;
  transition: 0.5s linear;
}
.bx-x:hover {
  transition: 0.5s linear;
  color: #f5c242;
}
.player button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.MkNavBar {
  position: relative;
  width: 320px;
  height: 70px;
  justify-content: center;
  align-items: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s linear;
  /* animation: dynamicIslandAnm 1s; */
  background: #fff;
  bottom: 100px;
  left: 20px;
  border-radius: 10px;
}

.MkAreaNavbar {
  margin-top: 10px;
  width: 80%;
  text-align: center;
  font-size: 18px;
  color: #f5c242;
  position: relative;
  z-index: 999;
  font-weight: 700;
  margin-bottom: 10px;
  cursor: pointer;
}

.widget {
  position: relative;
  color: #2d5cfe;
  text-align: center;
  /* background: rgba(200, 200, 200, 0.156); */
  /* border: 0.4px solid rgba(200, 200, 200, 0.156); */
  border-radius: 50px;
  transition: all 1s;
  cursor: pointer;
  margin: 20px;
  height: 50px;
  width: 50px;
  padding: 10px;
  right: 5px;
}
.MkIconEms {
  position: relative;
  top: 4px;
}
.widget:hover {
  background-color: #c7d0e1;
}
@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}
@keyframes glitchTop {
  2%,
  64% {
    transform: translate(4px, -4px);
  }
  4%,
  60% {
    transform: translate(-4px, 4px);
  }
  62% {
    transform: translate(13px, -4px) skew(-13deg);
  }
}
@keyframes glitchBotom {
  2%,
  64% {
    transform: translate(-4px, 0);
  }
  4%,
  60% {
    transform: translate(-4px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}
@keyframes glitch {
  2%,
  64% {
    transform: translate(4px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-4px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}
@media screen and (max-width: 414px) {
  .MkNavBar {
    position: relative;
    left: 35px;
    width: 340px;
  }
  .widget {
    position: relative;
    margin: 21px;
  }
  .music-details {
    position: relative;
    left: 7px;
    width: 320px;
  }
  .bottom-sheet {
    width: 80%;
    left: 40px;
  }
  .bottom-sheet h2 {
    position: relative;
    left: 15px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .bottom-sheet .content {
    margin-bottom: -10px;
  }
  .icons a {
    position: relative;
    left: 50px;
  }
  .MkxBodyProfile {
    font-family: "Poppins", sans-serif;
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: 1s ease-in-out;
  }
  .MkProfileImagesHeader {
    position: relative;
    height: 70px;
    width: 70px;
    justify-content: center;
    align-items: center;
    left: 130px;
    bottom: 10px;
    border-radius: 50%;
    border: 1px solid #c7d0e1;
  }
  .MkxBodyProfileTittle {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin-top: -10px;
  }
  .MkxBodyProfileDesc {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
  }
  .MkxBodyProfileShareTitle {
    text-align: center;
    /* width: 300px; */
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: -5px;
    font-family: "Poppins", sans-serif;
  }
  .MkBodyProfileBtn {
    position: relative;
    margin-top: 20px;
    padding: 10px;
    width: 330px;
    border-radius: 10px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    transition: 0.5s ease-in-out;
    border: none;
  }
  .MkBodyProfileBtn:hover {
    background-color: #c7d0e1;
    color: #000;
  }
  .MkxBodySettings {
    font-family: "Poppins", sans-serif;
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: 0.5s ease-in-out;
    animation: up 1s ease-in-out;
  }
  .MkSettingsImagesHeader {
    position: relative;
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    left: 10px;
    border-radius: 50%;
    border: 1px solid #c7d0e1;
  }
  .MkxBodySettingsTittle {
    position: relative;
    display: flex;
    font-size: 15px;
    font-weight: 700;
    left: 75px;
    bottom: 55px;
    font-family: "Poppins", sans-serif;
  }
  .MkxBodySettingsDesc {
    position: relative;
    display: flex;
    left: 75px;
    bottom: 60px;
    font-size: 12px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
  }
  .MkxBodySettingList {
    position: relative;
    display: flex;
    padding: 10px;
    /* background: grey; */
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
    height: 30px;
    margin-top: 20px;
    margin-bottom: -15px;
    bottom: 80px;
    font-family: "Poppins", sans-serif;
  }
  .MkxxSettingsBack {
    position: relative;
    left: 290px;
    bottom: 95px;
    font-size: 25px;
    color: #000;
    cursor: pointer;
    animation: pulse-animation 2s infinite;
    border-radius: 50%;
  }
  .MKSettingsNexxx {
    position: absolute;
    font-size: 30px;
    color: black;
    top: 10px;
    right: 10px;
  }
  .MkxxSettingsBtnBack {
    position: relative;
    margin-top: 20px;
    padding: 10px;
    width: 327px;
    border-radius: 10px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    bottom: 70px;
    border: none;
    transition: 1s;
  }
  .MkxxSettingsBtnBack:hover {
    background-color: #c7d0e1;
    color: #000;
  }
  .MkxBodySettingList .MkxImgList {
    position: relative;
    width: 60px;
    height: 60px;
    everflow: hidden;
    margin-right: -10px;
  }
  .MkxBodySettingList .MkxImgList i {
    position: absolute;
    object-fit: cover;
    padding: 10px;
    width: 100%;
    height: 100%;
    left: -5px;
    bottom: -13px;
    font-size: 25px;
    border-radius: 10px;
    /* color: #2d5cfe; */
  }
  .MkxBodySettingList .MkxSettingsListContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* color: #2600ff; */
  }
  .MkxBodySettingList .MkxSettingsListContent h4 {
    position: relative;
    line-height: 1.2em;
    font-weight: 600;
    transition: 0.5s;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    right: 10px;
  }
  .MkxBodySettingList .MkxSettingsListContent p {
    position: relative;
    right: 10px;
    font-size: 0.75em;
    transition: 0.5s;
    font-family: "Poppins", sans-serif;
  }
  .MkxBodySettingsShareTitle {
    text-align: center;
    /* width: 300px; */
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: -5px;
    font-family: "Poppins", sans-serif;
  }
  .MkBodySettingsBtn {
    position: relative;
    margin-top: 20px;
    padding: 10px;
    width: 310px;
    border-radius: 10px;
    color: #fff;
    font-family: "Poppins", sans-serif;
  }
  .MkBodySettingsBtn:hover {
    background-color: #c7d0e1;
    color: #000;
  }
}
@media screen and (max-width: 393px) {
  body {
    height: 300px;
  }
  .MkNavBar {
    position: relative;
    left: 30px;
    width: 330px;
  }
  .widget {
    position: relative;
    margin: 21px;
  }
  .bottom-sheet {
    width: 80%;
    left: 40px;
  }
  .bottom-sheet h2 {
    position: relative;
    left: 15px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .bottom-sheet .content {
    margin-bottom: -10px;
  }
  .icons a {
    position: relative;
    left: 45px;
    font-size: 30px;
  }
  .music-details {
    width: 315px;
  }
  .MkxBodyMusic {
    font-family: "Poppins", sans-serif;
  }
  .MkImagesHeader {
    position: relative;
    height: 70px;
    width: 70px;
    justify-content: center;
    align-items: center;
    left: 120px;
    bottom: 10px;
    border-radius: 50%;
    border: 1px solid #c7d0e1;
  }
  .MkxBodyMusicTittle {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin-top: -10px;
  }
  .MkxBodyMusicDesc {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
  }
  .MkxBodyMusicShareTitle {
    text-align: center;
    /* width: 300px; */
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: -5px;
    font-family: "Poppins", sans-serif;
  }
  .MkBodyMusicBtn {
    position: relative;
    margin-top: 20px;
    padding: 10px;
    width: 315px;
    border-radius: 10px;
    border: none;
    background-color: #1db954;
    color: #fff;
    font-family: "Poppins", sans-serif;
    transition: 0.5s ease-in-out;
  }
  .MkBodyMusicBtn:hover {
    background-color: #c7d0e1;
    color: #000;
  }
  .MkBodyMusicBtn:hover .bxl-spotify {
    color: #000;
  }
  .bxl-spotify {
    position: relative;
    font-size: 30px;
    bottom: 35px;
    left: 10px;
    margin-right: 10px;
    color: #1db954;
  }
  .MkBodyMusicBtnA {
    position: relative;
    margin-top: 20px;
    padding: 10px;
    width: 280px;
    border-radius: 10px;
    border: none;
    background-color: #2d5cfe;
    color: #fff;
  }
  .boxContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 10px;
    --boxSize: 4px;
    --gutter: 4px;
    width: calc((var(--boxSize) + var(--gutter)) * 4);
    left: 140px;
    bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .MusicBox {
    transform: scaleY(0.3);
    height: 100%;
    width: var(--boxSize);
    background: #000;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    border-radius: 8px;
  }
  .MkxBodyProfile {
    font-family: "Poppins", sans-serif;
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: 1s ease-in-out;
  }
  .MkProfileImagesHeader {
    position: relative;
    height: 70px;
    width: 70px;
    justify-content: center;
    align-items: center;
    left: 120px;
    bottom: 10px;
    border-radius: 50%;
    border: 1px solid #c7d0e1;
  }
  .MkxBodyProfileTittle {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin-top: -10px;
  }
  .MkxBodyProfileDesc {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
  }
  .MkxBodyProfileShareTitle {
    text-align: center;
    /* width: 300px; */
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: -5px;
    font-family: "Poppins", sans-serif;
  }
  .MkBodyProfileBtn {
    position: relative;
    margin-top: 20px;
    padding: 10px;
    width: 310px;
    border-radius: 10px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    transition: 0.5s ease-in-out;
    border: none;
  }
  .MkBodyProfileBtn:hover {
    background-color: #c7d0e1;
    color: #000;
  }
  .MkxBodySettings {
    font-family: "Poppins", sans-serif;
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: 0.5s ease-in-out;
    animation: up 1s ease-in-out;
  }
  .MkSettingsImagesHeader {
    position: relative;
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    left: 10px;
    border-radius: 50%;
    border: 1px solid #c7d0e1;
  }
  .MkxBodySettingsTittle {
    position: relative;
    display: flex;
    font-size: 15px;
    font-weight: 700;
    left: 75px;
    bottom: 55px;
    font-family: "Poppins", sans-serif;
  }
  .MkxBodySettingsDesc {
    position: relative;
    display: flex;
    left: 75px;
    bottom: 60px;
    font-size: 12px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
  }
  .MkxBodySettingList {
    position: relative;
    display: flex;
    padding: 10px;
    /* background: grey; */
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
    height: 30px;
    margin-top: 20px;
    margin-bottom: -15px;
    bottom: 80px;
    font-family: "Poppins", sans-serif;
  }
  .MkxxSettingsBack {
    position: relative;
    left: 270px;
    bottom: 95px;
    font-size: 25px;
    color: #000;
    cursor: pointer;
    animation: pulse-animation 2s infinite;
    border-radius: 50%;
  }
  .MKSettingsNexxx {
    position: absolute;
    font-size: 30px;
    color: black;
    top: 10px;
    right: 10px;
  }
  .MkxxSettingsBtnBack {
    position: relative;
    margin-top: 20px;
    padding: 10px;
    width: 310px;
    border-radius: 10px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    bottom: 70px;
    border: none;
    transition: 1s;
  }
  .MkxxSettingsBtnBack:hover {
    background-color: #c7d0e1;
    color: #000;
  }
  .MkxBodySettingList .MkxImgList {
    position: relative;
    width: 60px;
    height: 60px;
    everflow: hidden;
    margin-right: -10px;
  }
  .MkxBodySettingList .MkxImgList i {
    position: absolute;
    object-fit: cover;
    padding: 10px;
    width: 100%;
    height: 100%;
    left: -5px;
    bottom: -13px;
    font-size: 25px;
    border-radius: 10px;
    /* color: #2d5cfe; */
  }
  .MkxBodySettingList .MkxSettingsListContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* color: #2600ff; */
  }
  .MkxBodySettingList .MkxSettingsListContent h4 {
    position: relative;
    line-height: 1.2em;
    font-weight: 600;
    transition: 0.5s;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    right: 10px;
  }
  .MkxBodySettingList .MkxSettingsListContent p {
    position: relative;
    right: 10px;
    font-size: 0.75em;
    transition: 0.5s;
    font-family: "Poppins", sans-serif;
  }
  .MkxBodySettingsShareTitle {
    text-align: center;
    /* width: 300px; */
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: -5px;
    font-family: "Poppins", sans-serif;
  }
  .MkBodySettingsBtn {
    position: relative;
    margin-top: 20px;
    padding: 10px;
    width: 290px;
    border-radius: 10px;
    color: #fff;
    font-family: "Poppins", sans-serif;
  }
  .MkBodySettingsBtn:hover {
    background-color: #c7d0e1;
    color: #000;
  }
}
@media screen and (max-width: 360px) {
  .box {
    min-width: 280px;
  }
  .box .list-links .footer {
    justify-content: center;
    text-align: center;
    align-items: center;
    position: center;
  }
  .bottom-sheet {
    width: 80%;
    left: 35px;
  }
  .bottom-sheet h2 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
  }
  .bottom-sheet .content {
    margin-bottom: -10px;
  }
  .MkNavBar {
    position: relative;
    left: 20px;
    width: 320px;
  }
  .widget {
    position: relative;
    margin: 21px;
  }
  .music-details {
    position: relative;
    top: 15px;
    left: -10px;
    width: 300px;
  }
  .icons a {
    position: relative;
    left: 30px;
  }
  .MkxBodyMusic {
    font-family: "Poppins", sans-serif;
  }
  .MkImagesHeader {
    position: relative;
    height: 70px;
    width: 70px;
    justify-content: center;
    align-items: center;
    left: 107px;
    bottom: 10px;
    border-radius: 50%;
    border: 1px solid #c7d0e1;
  }
  .MkxBodyMusicTittle {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin-top: -10px;
  }
  .MkxBodyMusicDesc {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
  }
  .MkxBodyMusicShareTitle {
    text-align: center;
    /* width: 300px; */
    font-size: 13px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: -5px;
    font-family: "Poppins", sans-serif;
  }
  .MkBodyMusicBtn {
    position: relative;
    margin-top: 20px;
    padding: 10px;
    width: 285px;
    border-radius: 10px;
    border: none;
    background-color: #1db954;
    color: #fff;
    font-family: "Poppins", sans-serif;
    transition: 0.5s ease-in-out;
  }
  .MkBodyMusicBtn:hover {
    background-color: #c7d0e1;
    color: #000;
  }
  .MkBodyMusicBtn:hover .bxl-spotify {
    color: #000;
  }
  .bxl-spotify {
    position: relative;
    font-size: 30px;
    bottom: 35px;
    left: 10px;
    margin-right: 10px;
    color: #1db954;
  }
  .MkBodyMusicBtnA {
    position: relative;
    margin-top: 20px;
    padding: 10px;
    width: 280px;
    border-radius: 10px;
    border: none;
    background-color: #2d5cfe;
    color: #fff;
  }
  .boxContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 10px;
    --boxSize: 4px;
    --gutter: 4px;
    width: calc((var(--boxSize) + var(--gutter)) * 4);
    left: 128px;
    bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .MusicBox {
    transform: scaleY(0.3);
    height: 100%;
    width: var(--boxSize);
    background: #000;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    border-radius: 8px;
  }
  .MkxBodyProfile {
    font-family: "Poppins", sans-serif;
    visibility: hidden;
    opacity: 0;
    display: none;
  }
  .MkProfileImagesHeader {
    position: relative;
    height: 70px;
    width: 70px;
    justify-content: center;
    align-items: center;
    left: 108px;
    bottom: 10px;
    border-radius: 50%;
    border: 1px solid #c7d0e1;
  }
  .MkxBodyProfileTittle {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin-top: -10px;
  }
  .MkxBodyProfileDesc {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
  }
  .MkxBodyProfileShareTitle {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: -5px;
    font-family: "Poppins", sans-serif;
  }
  .MkBodyProfileBtn {
    position: relative;
    margin-top: 10px;
    padding: 10px;
    width: 290px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-family: "Poppins", sans-serif;
    transition: 0.5s ease-in-out;
  }
  .MkBodyProfileBtn:hover {
    background-color: #c7d0e1;
    color: #000;
  }
  .MkxBodySettings {
    font-family: "Poppins", sans-serif;
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: 0.5s ease-in-out;
    animation: up 1s ease-in-out;
  }
  .MkSettingsImagesHeader {
    position: relative;
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    left: 10px;
    border-radius: 50%;
    border: 1px solid #c7d0e1;
  }
  .MkxBodySettingsTittle {
    position: relative;
    display: flex;
    font-size: 15px;
    font-weight: 700;
    left: 75px;
    bottom: 55px;
    font-family: "Poppins", sans-serif;
  }
  .MkxBodySettingsDesc {
    position: relative;
    display: flex;
    left: 75px;
    bottom: 60px;
    font-size: 12px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
  }
  .MkxBodySettingList {
    position: relative;
    display: flex;
    padding: 10px;
    /* background: grey; */
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
    height: 30px;
    margin-top: 20px;
    margin-bottom: -15px;
    bottom: 80px;
    font-family: "Poppins", sans-serif;
  }
  .MkxxSettingsBack {
    position: relative;
    left: 250px;
    bottom: 95px;
    font-size: 25px;
    color: #000;
    cursor: pointer;
    animation: pulse-animation 2s infinite;
    border-radius: 50%;
  }
  .MKSettingsNexxx {
    position: absolute;
    font-size: 30px;
    color: black;
    top: 10px;
    right: 10px;
  }
  .MkxxSettingsBtnBack {
    position: relative;
    margin-top: 20px;
    padding: 10px;
    width: 285px;
    border-radius: 10px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    bottom: 70px;
    border: none;
    transition: 1s;
  }
  .MkxxSettingsBtnBack:hover {
    background-color: #c7d0e1;
    color: #000;
  }
  .MkxBodySettingList .MkxImgList {
    position: relative;
    width: 60px;
    height: 60px;
    everflow: hidden;
    margin-right: -10px;
  }
  .MkxBodySettingList .MkxImgList i {
    position: absolute;
    object-fit: cover;
    padding: 10px;
    width: 100%;
    height: 100%;
    left: -5px;
    bottom: -13px;
    font-size: 25px;
    border-radius: 10px;
    /* color: #2d5cfe; */
  }
  .MkxBodySettingList .MkxSettingsListContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* color: #2600ff; */
  }
  .MkxBodySettingList .MkxSettingsListContent h4 {
    position: relative;
    line-height: 1.2em;
    font-weight: 600;
    transition: 0.5s;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    right: 10px;
  }
  .MkxBodySettingList .MkxSettingsListContent p {
    position: relative;
    right: 10px;
    font-size: 0.75em;
    transition: 0.5s;
    font-family: "Poppins", sans-serif;
  }
  .MkxBodySettingsShareTitle {
    text-align: center;
    /* width: 300px; */
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: -5px;
    font-family: "Poppins", sans-serif;
  }
  .MkBodySettingsBtn {
    position: relative;
    margin-top: 20px;
    padding: 10px;
    width: 250px;
    border-radius: 10px;
    color: #fff;
    font-family: "Poppins", sans-serif;
  }
  .MkBodySettingsBtn:hover {
    background-color: #c7d0e1;
    color: #000;
  }
}
