/* Style Css */

@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700");

* {
  margin: 0;
  padding: 0;
  font-family: "Rajdhani", sans-serif;
}
:root {
  --hue: 207;
  --sat: 90%;
  --lig: 61%;
  --first-color: hsl(var(--hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--hue), var(--sat), 57%); /* -4% */
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: #2d5cfe;
  --text-color-light: hsl(var(--hue), 8%, 75%);
  --text-color-lighten: hsl(var(--hue), 8%, 92%);
  --body-color: #fff;
  --container-color: #fff;
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
}
::selection {
  background: purple;
  color: white;
}
#myAudio {
  visibility: hidden;
  opacity: 0;
  display: none;
}
#MkxSongsA,
#MkxSongsB,
#MkxSongsC,
#MkxSongsD {
  visibility: hidden;
  opacity: 0;
  display: none;
}
body {
  position: relative;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1614522562493-455408036ea9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
  height: 300px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 1s linear;
}
.MkSectionOne {
  position: relative;
  opacity: 1;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  transition: 1s linear;
  animation: fadeInUp 1s;
}
.MkSectionTwo {
  opacity: 0;
  display: none;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  transition: 0.3s linear;
  animation: fadeInUp 1s;
}
/* section {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
} */
.MKSectionPage {
  position: relative;
  min-width: 300px;
  height: 50px;
  width: 200px;
  background: #fff;
  border-radius: 10px;
  z-index: 10;
  padding: 20px;
  transition: 0.3s all;
  animation: fadeInUp 1s;
}
.MKSectionPage .MKSectionContentList {
  position: relative;
  display: flex;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  transition: 1s ease-in-out;
  overflow: hidden;
  height: 70px;
  margin-top: 10px;
  margin-bottom: 20px;
  bottom: 17px;
}
.MKSectionPage .MKSectionContentList .MkSectionImageList {
  position: relative;
  width: 50px;
  height: 50px;
}
.MKSectionContentList .MkSectionImageList img {
  position: absolute;
  object-fit: cover;
  padding: 10px;
  width: 100%;
  height: 100%;
  font-size: 25px;
  border-radius: 50%;
  color: #05bfdb;
}
.MKSectionPage .MkSectionListContentText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.MKSectionPage .MkSectionListContentText h4 {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  transition: 0.5s;
  left: 20px;
  color: #2d5cfe;
}
.MKSectionPage .MkSectionListContentText p {
  position: relative;
  font-weight: 300;
  font-size: 15px;
  transition: 0.5s;
  left: 20px;
  bottom: 5px;
}
.box {
  position: relative;
  min-width: 300px;
  min-height: 200px;
  width: 200px;
  background: #fff;
  border-radius: 10px;
  z-index: 10;
  padding: 20px;
  border: 4px solid #c7d0e1;
  transition: 0.3s all;
  animation: fadeInUp 1s;
}
.box h3 {
  color: #05bfdb;
  padding: 15px;
  font-size: 20px;
  transition: 0.5s linear;
}
.MKdexsc {
  color: #f5c242;
  transition: 0.5s linear;
  font-size: 12px;
  letter-spacing: 1.3px;
  margin-bottom: 15px;
}
.MkBottom {
  color: #c7d0e1;
  margin-bottom: 30px;
  opacity: 1;
}
.MkxVeriv {
  position: relative;
  top: 3px;
  color: #42a5f5;
  font-size: 22px;
}
.us {
  display: block;
  font-size: 30px;
  justify-content: space-between;
  position: absolute;
  right: 25px;
  top: 30px;
  padding: 10px;
  color: #c7d0e1;
  cursor: pointer;
  transition: 1s;
}
.us:hover {
  color: #42a5f5;
  transform: scale(1.01);
}
.box .list-links {
  position: relative;
  display: flex;
  padding: 10px;
  background: #c7d0e1b4;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  transition: 1s ease-in-out;
  overflow: hidden;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.box .list-links:hover {
  background: #fff;
  box-shadow: -15px 30px 50px rgba(0, 0, 0, 0.5);
  transform: scale(1);
  z-index: 1000;
  border: none;
}
.box .list-links:hover .MKNexxx {
  color: #000;
}
.box .list-links .img-list {
  position: relative;
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin-right: -10px;
}
.box .list-links .img-list i {
  position: absolute;
  object-fit: cover;
  padding: 10px;
  width: 100%;
  height: 100%;
  left: -5px;
  bottom: -13px;
  font-size: 25px;
  border-radius: 10px;
  color: #05bfdb;
}
.MKNexxx {
  position: absolute;
  font-size: 30px;
  color: #05bfdb;
  top: 10px;
  right: 10px;
}
.box .list-links .list-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box .list-links .list-content h4 {
  position: relative;
  line-height: 1.2em;
  font-weight: 600;
  transition: 0.5s;
  top: 2px;
}
.box .list-links .list-content p {
  font-size: 0.75em;
  transition: 0.5s;
}
.box .list-links:hover .list-content h4,
.box .list-links:hover .list-content p {
  color: #333;
}
.MkxxFooterx {
  text-align: center;
  font-size: 12px;
}
.MkxCodexLink {
  color: #05bfdb;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s all;
}
.MkxCodexLink:hover {
  color: black;
  transition: 0.3s all;
}
.bottom-sheet {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  pointer-events: none;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.3s linear;
  z-index: 999;
}
.bottom-sheet.show {
  opacity: 1;
  pointer-events: auto;
}
.bottom-sheet .sheet-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: #000;
}
.bottom-sheet .content {
  width: 100%;
  position: relative;
  background: #fff;
  max-height: 100vh;
  height: 40vh;
  max-width: 1150px;
  padding: 25px 30px;
  transform: translateY(100%);
  border-radius: 20px 20px 0 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 100);
  transition: 0.3s ease;
}
.bottom-sheet.show .content {
  transform: translateY(0%);
}
.bottom-sheet.dragging .content {
  transition: none;
}
.bottom-sheet.fullscreen .content {
  border-radius: 12px 12px 0 0;
  overflow-y: hidden;
}
.bottom-sheet .header {
  display: flex;
  justify-content: center;
}
.header .drag-icon {
  user-select: none;
  padding: 15px;
}
.header .drag-icon span {
  position: relative;
  height: 4px;
  width: 40px;
  display: block;
  background: #c7d0e1;
  border-radius: 50px;
  bottom: 30px;
}
.bottom-sheet .body {
  position: relative;
  height: 100%;
  /* overflow-x: auto; */
  bottom: 30px;
  scrollbar-width: none;
  justify-content: center;
  align-items: center;
  transition: 0.3s all;
  z-index: -1;
}
.bottom-sheet .body::-webkit-scrollbar {
  width: 0;
}
.bottom-sheet h2 {
  font-size: 1.8rem;
  margin-bottom: -30px;
}
.bottom-sheet .body p {
  margin-top: 20px;
  font-size: 1.05rem;
}
.MkxProfileContentx {
  display: none;
  opacity: 0;
  transition: 0.5s linear;
}
.MKxProfileUserPagesx {
  display: none;
  opacity: 0;
  transition: 0.5s linear;
}
.ProfileContentxList {
  position: relative;
  display: flex;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: 1s ease-in-out;
  overflow: hidden;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  right: 30px;
  background: white;
  bottom: 5px;
  transition: 0.5s all;
}
.ProfileContentxList .ProfileContentxListIcons {
  position: relative;
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin-right: 5px;
}
.ProfileContentxList .ProfileContentxListIcons i {
  position: relative;
  object-fit: cover;
  padding: 10px;
  width: 100%;
  height: 100%;
  left: 10px;
  font-size: 25px;
  font-weight: 300;
  border-radius: 10px;
  top: 2px;
  color: #000;
  transition: 0.5s all;
}
.ProfileContentxList .ProfileContentxListText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ProfileContentxList .ProfileContentxListText h4 {
  position: relative;
  font-family: "Poppins", sans-serif;
  line-height: 1.2em;
  font-weight: 500;
  transition: 0.5s all;
  right: 10px;
  top: 10px;
}
.ProfileContentxList .ProfileContentxListText p {
  position: relative;
  font-family: "Poppins", sans-serif;
  line-height: 1.2em;
  font-weight: 300;
  transition: 0.5s all;
  font-size: 12px;
  right: 10px;
  bottom: 10px;
}
.MKxProfileUserPagesxContent {
  width: 80%;
}
.MKxProfileUserPagesxContent .MkxProfileHeaderTittle {
  font-size: 20px;
  margin-bottom: 3px;
}
.MKxProfileUserPagesxContent .MKxProfileUserPagesxContentText {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: -20px;
}
.MKxProfileUserPagesxContent .MKxProfileUserPagesxContentText i {
  position: relative;
  display: flex;
  font-size: 25px;
  top: 18px;
}
.MKxProfileUserPagesxContent .MKxProfileUserPagesxContentText h4 {
  position: relative;
  font-family: "Inter", sans-serif;
  line-height: 1.1em;
  font-weight: 500;
  left: 40px;
  bottom: 10px;
  transition: 0.5s all;
}
.MKxProfileUserPagesxContent .MKxProfileUserPagesxContentText p {
  position: relative;
  font-size: 0.9em;
  left: 40px;
  bottom: 30px;
}
.MkxProfileContentSupportx {
  opacity: 0;
  display: none;
  transition: 0.5s all;
}
.MkxProfileSupportxContent {
  width: 90%;
  display: flex;
  margin-bottom: 10px;
}
.MkxProfileSupportHeaderTittle {
  font-size: 20px;
  margin-bottom: 20px;
}
.MkxProfileSupportxContent .MkxProfileSupportxContentImages img {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  left: 10px;
}
.MkxProfileSupportxContent .MkxProfileSupportxContentText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.MkxProfileSupportxContent .MkxProfileSupportxContentText h4 {
  position: relative;
  font-family: "Rajdhani", sans-serif;
  line-height: 1.1em;
  font-weight: 600;
  left: 20px;
  bottom: 3px;
  transition: 0.5s all;
}
.MkMusicSpotifyContenx {
  position: relative;
  visibility: hidden;
  opacity: 0;
  display: none;
  align-items: center;
  justify-content: center;
}
.MkMusicSpotifyContenx .MkxMusicSpotifyImages {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  left: 47%;
  bottom: 5%;
  border-radius: 50%;
  margin-top: 15px;
  margin-bottom: -10px;
}
.MkMusicSpotifyContenx h3 {
  text-align: center;
  margin-bottom: -20px;
}
.MkMusicSpotifyContenx p {
  text-align: center;
}
.MkMusicSpotifyContenx .MkButtonSpotifyMusic {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.MkButtonSpotifyMusic .MkViewProfile {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 10px;
  background: #1db954;
  color: white;
  padding: 15px;
  width: 90%;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: -5px;
  text-align: center;
}
.MkButtonSpotifyMusic .MkViewPlaylist {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 10px;
  background: #1db954;
  color: white;
  padding: 15px;
  width: 90%;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
}
.MkButtonSpotifyMusic .MkViewProfile:hover {
  background-color: black;
  color: #fff;
  transition: 0.3s linear;
}
.MkButtonSpotifyMusic .MkViewPlaylist:hover {
  background-color: black;
  color: #fff;
  transition: 0.3s linear;
}
.MkUserSettingContentList {
  position: relative;
  opacity: 0;
  display: none;
}
.MkUserSettingContentList .MKUserSettingBtnBackPassed {
  position: relative;
  padding: 20px;
  transition: 0.5s linear;
}
.MKUserSettingBtnBackPassed i {
  position: relative;
  left: 260px;
  bottom: 30px;
  font-size: 30px;
  color: black;
  border-radius: 50%;
  z-index: -9;
}
.MkUserSettingContentList .MkxTittleSettingPage {
  position: relative;
  bottom: 60px;
  right: 30px;
  font-size: 20px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
}
.MKUserSettingBtnBackPassed:hover i {
  color: red;
  transition: 0.5s linear;
}
.MkxUserSettingContentList:hover {
  background: black;
  color: white;
}
.MkUserSettingPages .MkUserSettingPagesList {
  position: relative;
  display: flex;
  padding: 10px;
  margin: 10px;
  transition: 1s ease-in-out;
  overflow: hidden;
  overflow-x: hidden;
  height: 30px;
  margin-top: 10px;
  margin-bottom: -15px;
  right: 30px;
  bottom: 70px;
  transition: 0.5s all;
  width: 100%;
}
.MkUserSettingPages .MkUserSettingPagesList i {
  position: relative;
  object-fit: cover;
  padding: 10px;
  width: 100%;
  height: 100%;
  font-size: 25px;
  font-weight: 300;
  border-radius: 10px;
  color: #000;
  bottom: 7px;
  transition: 0.5s all;
  font-weight: 300;
  left: 5px;
}
.MkUserSettingPages .MkUserSettingsPagesContents {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.MkUserSettingPages .MkUserSettingsPagesContents h4 {
  position: relative;
  margin-left: 10px;
  font-family: "Inter", sans-serif;
  line-height: 1.1em;
  font-weight: 500;
  left: 30px;
  font-size: 15px;
  bottom: 88px;
  transition: 0.5s all;
}
.MkTitleGameWeb {
  position: relative;
  margin-bottom: 40px;
}
.MkTitleGameWeb h4 {
  position: relative;
  right: 10px;
  bottom: 50px;
  font-size: 20px;
}
.MkContactPagesContent {
  opacity: 0;
  display: none;
}
.MkxContactPagesListContent {
  padding: 10px;
}
.MkxContactPagesListContent .MkContactxxText {
  font-size: 23px;
  margin-bottom: 10px;
}
.MkContactList {
  position: relative;
  padding: 10px;
  display: flex;
  height: 40px;
  margin-bottom: 10px;
  transition: 0.5s linear;
}
.MkContactList .MkContactIcons {
  position: relative;
  top: 7px;
  right: 10px;
  margin-right: 10px;
  transition: 0.5s linear;
}
.MkContactList .MkContactIcons i {
  font-size: 30px;
}
.MkContactList .MkContactTextContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s linear;
}
.MkContactList .MkContactTextContent h4 {
  position: relative;
  font-size: 18px;
  top: 15px;
}
.MkContactList .MkContactTextContent p {
  position: relative;
  font-size: 15px;
  bottom: 10px;
}
.MkContactList:hover .MkContactIcons {
  transition: 0.5s linear;
  color: #05bfdb;
}
.MkContactList:hover .MkContactTextContent {
  transition: 0.5s linear;
  color: #05bfdb;
}
.MkOpenLink {
  position: relative;
  opacity: 0;
  display: none;
}
.MkOpenLink .MkOpenContent {
  position: relative;
}
.MkOpenContent h4 {
  display: flex;
  font-size: 20px;
  margin-bottom: 20px;
}
.MkOpenLinkListContent {
  position: relative;
  /* padding: 15px; */
  display: flex;
}
.MkOpenLinkListContent .MkOpenLinkImageTextList i {
  position: relative;
  font-size: 35px;
  padding: 10px;
  border-radius: 50%;
  margin-right: 25px;
  color: #f5c242;
  transition: 0.5s ease;
}
.MkOpenLinkListContent .MkOpenLinkImageTextList h4 {
  position: relative;
  font-size: 15px;
  left: 8px;
}
.MkOpenLinkListContent .MkOpenLinkImageTextList h3 {
  position: relative;
  font-size: 15px;
  right: 1px;
}
.MkOpenLinkImageTextList:hover i {
  transition: 0.5s ease;
  background: red;
}

/* Media Responsive Mobile */

/* Width 414 */

@media screen and (max-width: 414px) {
  .bottom-sheet {
    width: 80%;
    left: 40px;
  }
  .bottom-sheet h2 {
    position: relative;
    left: 15px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .bottom-sheet .content {
    margin-bottom: -10px;
  }
  .MkxProfileContentx {
    display: none;
    opacity: 0;
    transition: 0.5s linear;
  }
  .MKxProfileUserPagesx {
    display: none;
    opacity: 0;
    transition: 0.5s linear;
  }
  .ProfileContentxList {
    position: relative;
    display: flex;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: 1s ease-in-out;
    overflow: hidden;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    right: 30px;
    background: white;
    bottom: 5px;
    transition: 0.5s all;
  }
  .ProfileContentxList .ProfileContentxListIcons {
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin-right: 5px;
  }
  .ProfileContentxList .ProfileContentxListIcons i {
    position: relative;
    object-fit: cover;
    padding: 10px;
    width: 100%;
    height: 100%;
    left: 10px;
    font-size: 25px;
    font-weight: 300;
    border-radius: 10px;
    top: 2px;
    color: #000;
    transition: 0.5s all;
  }
  .ProfileContentxList .ProfileContentxListText {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .ProfileContentxList .ProfileContentxListText h4 {
    position: relative;
    font-family: "Poppins", sans-serif;
    line-height: 1.2em;
    font-weight: 500;
    transition: 0.5s all;
    right: 10px;
    top: 10px;
  }
  .ProfileContentxList .ProfileContentxListText p {
    position: relative;
    font-family: "Poppins", sans-serif;
    line-height: 1.2em;
    font-weight: 300;
    transition: 0.5s all;
    font-size: 12px;
    right: 10px;
    bottom: 10px;
  }
  .MKxProfileUserPagesxContent {
    width: 80%;
  }
  .MKxProfileUserPagesxContent .MkxProfileHeaderTittle {
    font-size: 20px;
    margin-bottom: 3px;
  }
  .MKxProfileUserPagesxContent .MKxProfileUserPagesxContentText {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: -20px;
  }
  .MKxProfileUserPagesxContent .MKxProfileUserPagesxContentText i {
    position: relative;
    display: flex;
    font-size: 25px;
    top: 18px;
  }
  .MKxProfileUserPagesxContent .MKxProfileUserPagesxContentText h4 {
    position: relative;
    font-family: "Inter", sans-serif;
    line-height: 1.1em;
    font-weight: 500;
    left: 40px;
    bottom: 10px;
    transition: 0.5s all;
  }
  .MKxProfileUserPagesxContent .MKxProfileUserPagesxContentText p {
    position: relative;
    font-size: 0.9em;
    left: 40px;
    bottom: 30px;
  }
  .MkxProfileContentSupportx {
    opacity: 0;
    display: none;
    transition: 0.5s all;
  }
  .MkxProfileSupportxContent {
    width: 90%;
    display: flex;
    margin-bottom: 10px;
  }
  .MkxProfileSupportHeaderTittle {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .MkxProfileSupportxContent .MkxProfileSupportxContentImages img {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: 10px;
  }
  .MkxProfileSupportxContent .MkxProfileSupportxContentText {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .MkxProfileSupportxContent .MkxProfileSupportxContentText h4 {
    position: relative;
    font-family: "Rajdhani", sans-serif;
    line-height: 1.1em;
    font-weight: 600;
    left: 20px;
    bottom: 3px;
    transition: 0.5s all;
  }
  .MkMusicSpotifyContenx {
    position: relative;
    visibility: hidden;
    opacity: 0;
    display: none;
    align-items: center;
    justify-content: center;
  }
  .MkMusicSpotifyContenx .MkxMusicSpotifyImages {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    left: 39%;
    top: 1%;
    border-radius: 50%;
    margin-bottom: 5px;
  }
  .MkMusicSpotifyContenx h3 {
    text-align: center;
    margin-bottom: -20px;
  }
  .MkMusicSpotifyContenx p {
    text-align: center;
  }
  .MkMusicSpotifyContenx .MkListens {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
  }
  .MkMusicSpotifyContenx .MkButtonSpotifyMusic {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .MkButtonSpotifyMusic .MkViewProfile {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
    background: #1db954;
    color: white;
    padding: 15px;
    width: 90%;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: -5px;
    text-align: center;
  }
  .MkButtonSpotifyMusic .MkViewPlaylist {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
    background: #1db954;
    color: white;
    padding: 15px;
    width: 90%;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
  }
  .MkButtonSpotifyMusic .MkViewProfile:hover {
    background-color: black;
    color: #fff;
    transition: 0.3s linear;
  }
  .MkButtonSpotifyMusic .MkViewPlaylist:hover {
    background-color: black;
    color: #fff;
    transition: 0.3s linear;
  }
  .MkUserSettingContentList {
    position: relative;
    opacity: 0;
    display: none;
  }
  .MkUserSettingContentList .MKUserSettingBtnBackPassed {
    position: relative;
    padding: 20px;
    transition: 0.5s linear;
  }
  .MKUserSettingBtnBackPassed i {
    position: relative;
    left: 290px;
    bottom: 30px;
    font-size: 30px;
    color: black;
    border-radius: 50%;
    z-index: -9;
  }
  .MkUserSettingContentList .MkxTittleSettingPage {
    position: relative;
    bottom: 60px;
    right: 30px;
    font-size: 20px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
  }
  .MKUserSettingBtnBackPassed:hover i {
    color: red;
    transition: 0.5s linear;
  }
  .MkxUserSettingContentList:hover {
    background: black;
    color: white;
  }
  .MkUserSettingPages .MkUserSettingPagesList {
    position: relative;
    display: flex;
    padding: 10px;
    margin: 10px;
    transition: 1s ease-in-out;
    overflow: hidden;
    overflow-x: hidden;
    height: 30px;
    margin-top: 10px;
    margin-bottom: -15px;
    right: 30px;
    bottom: 70px;
    transition: 0.5s all;
    width: 100%;
  }
  .MkUserSettingPages .MkUserSettingPagesList i {
    position: relative;
    object-fit: cover;
    padding: 10px;
    width: 100%;
    height: 100%;
    font-size: 25px;
    font-weight: 300;
    border-radius: 10px;
    color: #000;
    bottom: 7px;
    transition: 0.5s all;
    font-weight: 300;
    left: 5px;
  }
  .MkUserSettingPages .MkUserSettingsPagesContents {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .MkUserSettingPages .MkUserSettingsPagesContents h4 {
    position: relative;
    margin-left: 10px;
    font-family: "Inter", sans-serif;
    line-height: 1.1em;
    font-weight: 500;
    left: 30px;
    font-size: 15px;
    bottom: 88px;
    transition: 0.5s all;
  }
  .MkTitleGameWeb {
    position: relative;
    margin-bottom: 40px;
  }
  .MkTitleGameWeb h4 {
    position: relative;
    right: 10px;
    bottom: 50px;
    font-size: 20px;
  }
  .MkContactPagesContent {
    opacity: 0;
    display: none;
  }
  .MkxContactPagesListContent {
    padding: 10px;
  }
  .MkxContactPagesListContent .MkContactxxText {
    font-size: 23px;
    margin-bottom: 10px;
  }
  .MkContactList {
    position: relative;
    padding: 10px;
    display: flex;
    height: 40px;
    margin-bottom: 10px;
    transition: 0.5s linear;
  }
  .MkContactList .MkContactIcons {
    position: relative;
    top: 7px;
    right: 10px;
    margin-right: 10px;
    transition: 0.5s linear;
  }
  .MkContactList .MkContactIcons i {
    font-size: 30px;
  }
  .MkContactList .MkContactTextContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s linear;
  }
  .MkContactList .MkContactTextContent h4 {
    position: relative;
    font-size: 18px;
    top: 15px;
  }
  .MkContactList .MkContactTextContent p {
    position: relative;
    font-size: 15px;
    bottom: 10px;
  }
  .MkContactList:hover .MkContactIcons {
    transition: 0.5s linear;
    color: #05bfdb;
  }
  .MkContactList:hover .MkContactTextContent {
    transition: 0.5s linear;
    color: #05bfdb;
  }
  .MkOpenLink {
    position: relative;
    opacity: 0;
    display: none;
  }
  .MkOpenLink .MkOpenContent {
    position: relative;
  }
  .MkOpenContent h4 {
    display: flex;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .MkOpenLinkListContent {
    position: relative;
    /* padding: 15px; */
    display: flex;
  }
  .MkOpenLinkListContent .MkOpenLinkImageTextList i {
    position: relative;
    font-size: 35px;
    padding: 10px;
    border-radius: 50%;
    margin-right: 25px;
    color: #f5c242;
    transition: 0.5s ease;
    margin-left: 6px;
  }
  .MkOpenLinkListContent .MkOpenLinkImageTextList h4 {
    position: relative;
    font-size: 15px;
    left: 15px;
  }
  .MkOpenLinkListContent .MkOpenLinkImageTextList h3 {
    position: relative;
    font-size: 15px;
    left: 5px;
  }
  .MkOpenLinkImageTextList:hover i {
    transition: 0.5s ease;
    background: red;
  }
}

/* Widht 393 */

@media screen and (max-width: 393px) {
  .bottom-sheet {
    width: 85%;
    left: 30px;
  }
  .bottom-sheet h2 {
    position: relative;
    left: 15px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .bottom-sheet .content {
    margin-bottom: -10px;
  }
  .MkxProfileContentx {
    display: none;
    opacity: 0;
    transition: 0.5s linear;
  }
  .MKxProfileUserPagesx {
    display: none;
    opacity: 0;
    transition: 0.5s linear;
  }
  .ProfileContentxList {
    position: relative;
    display: flex;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: 1s ease-in-out;
    overflow: hidden;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    right: 30px;
    background: white;
    width: 85%;
    bottom: 5px;
    transition: 0.5s all;
  }
  .ProfileContentxList .ProfileContentxListIcons {
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin-right: 5px;
  }
  .ProfileContentxList .ProfileContentxListIcons i {
    position: relative;
    object-fit: cover;
    padding: 10px;
    width: 100%;
    height: 100%;
    left: 5px;
    font-size: 25px;
    font-weight: 300;
    border-radius: 10px;
    top: 2px;
    color: #000;
    transition: 0.5s all;
  }
  .ProfileContentxList .ProfileContentxListText {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .ProfileContentxList .ProfileContentxListText h4 {
    position: relative;
    font-family: "Poppins", sans-serif;
    line-height: 1.2em;
    font-weight: 500;
    transition: 0.5s all;
    right: 10px;
    top: 10px;
  }
  .ProfileContentxList .ProfileContentxListText p {
    position: relative;
    font-family: "Poppins", sans-serif;
    line-height: 1.2em;
    font-weight: 300;
    transition: 0.5s all;
    font-size: 12px;
    right: 10px;
    bottom: 10px;
  }
  .MKxProfileUserPagesxContent {
    width: 80%;
  }
  .MKxProfileUserPagesxContent .MkxProfileHeaderTittle {
    font-size: 20px;
    margin-bottom: 3px;
  }
  .MKxProfileUserPagesxContent .MKxProfileUserPagesxContentText {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: -20px;
  }
  .MKxProfileUserPagesxContent .MKxProfileUserPagesxContentText i {
    position: relative;
    display: flex;
    font-size: 25px;
    top: 18px;
  }
  .MKxProfileUserPagesxContent .MKxProfileUserPagesxContentText h4 {
    position: relative;
    font-family: "Inter", sans-serif;
    line-height: 1.1em;
    font-weight: 500;
    left: 40px;
    bottom: 10px;
    transition: 0.5s all;
  }
  .MKxProfileUserPagesxContent .MKxProfileUserPagesxContentText p {
    position: relative;
    font-size: 0.9em;
    left: 40px;
    bottom: 30px;
  }
  .MkxProfileContentSupportx {
    opacity: 0;
    display: none;
    transition: 0.5s all;
  }
  .MkxProfileSupportxContent {
    width: 90%;
    display: flex;
    margin-bottom: 10px;
  }
  .MkxProfileSupportHeaderTittle {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .MkxProfileSupportxContent .MkxProfileSupportxContentImages img {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: 10px;
  }
  .MkxProfileSupportxContent .MkxProfileSupportxContentText {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .MkxProfileSupportxContent .MkxProfileSupportxContentText h4 {
    position: relative;
    font-family: "Rajdhani", sans-serif;
    line-height: 1.1em;
    font-weight: 600;
    left: 20px;
    bottom: 3px;
    transition: 0.5s all;
  }
  .MkMusicSpotifyContenx {
    position: relative;
    visibility: hidden;
    opacity: 0;
    display: none;
    align-items: center;
    justify-content: center;
  }
  .MkMusicSpotifyContenx .MkxMusicSpotifyImages {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    left: 39%;
    top: 1%;
    border-radius: 50%;
    margin-bottom: 5px;
  }
  .MkMusicSpotifyContenx h3 {
    text-align: center;
    margin-bottom: -20px;
  }
  .MkMusicSpotifyContenx p {
    text-align: center;
  }
  .MkMusicSpotifyContenx .MkListens {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
  }
  .MkMusicSpotifyContenx .MkButtonSpotifyMusic {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .MkButtonSpotifyMusic .MkViewProfile {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
    background: #1db954;
    color: white;
    padding: 15px;
    width: 90%;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: -5px;
    text-align: center;
  }
  .MkButtonSpotifyMusic .MkViewPlaylist {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
    background: #1db954;
    color: white;
    padding: 15px;
    width: 90%;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
  }
  .MkButtonSpotifyMusic .MkViewProfile:hover {
    background-color: black;
    color: #fff;
    transition: 0.3s linear;
  }
  .MkButtonSpotifyMusic .MkViewPlaylist:hover {
    background-color: black;
    color: #fff;
    transition: 0.3s linear;
  }
  .MkUserSettingContentList {
    position: relative;
    opacity: 0;
    display: none;
  }
  .MkUserSettingContentList .MKUserSettingBtnBackPassed {
    position: relative;
    padding: 20px;
    transition: 0.5s linear;
  }
  .MKUserSettingBtnBackPassed i {
    position: relative;
    left: 260px;
    bottom: 30px;
    font-size: 30px;
    color: black;
    border-radius: 50%;
    z-index: -9;
  }
  .MkUserSettingContentList .MkxTittleSettingPage {
    position: relative;
    bottom: 60px;
    right: 30px;
    font-size: 20px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
  }
  .MKUserSettingBtnBackPassed:hover i {
    color: red;
    transition: 0.5s linear;
  }
  .MkxUserSettingContentList:hover {
    background: black;
    color: white;
  }
  .MkUserSettingPages .MkUserSettingPagesList {
    position: relative;
    display: flex;
    padding: 10px;
    margin: 10px;
    transition: 1s ease-in-out;
    overflow: hidden;
    overflow-x: hidden;
    height: 30px;
    margin-top: 10px;
    margin-bottom: -15px;
    right: 30px;
    bottom: 70px;
    transition: 0.5s all;
    width: 100%;
  }
  .MkUserSettingPages .MkUserSettingPagesList i {
    position: relative;
    object-fit: cover;
    padding: 10px;
    width: 100%;
    height: 100%;
    font-size: 25px;
    font-weight: 300;
    border-radius: 10px;
    color: #000;
    bottom: 7px;
    transition: 0.5s all;
    font-weight: 300;
    left: 5px;
  }
  .MkUserSettingPages .MkUserSettingsPagesContents {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .MkUserSettingPages .MkUserSettingsPagesContents h4 {
    position: relative;
    margin-left: 10px;
    font-family: "Inter", sans-serif;
    line-height: 1.1em;
    font-weight: 500;
    left: 30px;
    font-size: 15px;
    bottom: 88px;
    transition: 0.5s all;
  }
  .MkTitleGameWeb {
    position: relative;
    margin-bottom: 40px;
  }
  .MkTitleGameWeb h4 {
    position: relative;
    right: 10px;
    bottom: 50px;
    font-size: 20px;
  }
  .MkContactPagesContent {
    opacity: 0;
    display: none;
  }
  .MkxContactPagesListContent {
    padding: 10px;
  }
  .MkxContactPagesListContent .MkContactxxText {
    font-size: 23px;
    margin-bottom: 10px;
  }
  .MkContactList {
    position: relative;
    padding: 10px;
    display: flex;
    height: 40px;
    margin-bottom: 10px;
    transition: 0.5s linear;
  }
  .MkContactList .MkContactIcons {
    position: relative;
    top: 7px;
    right: 10px;
    margin-right: 10px;
    transition: 0.5s linear;
  }
  .MkContactList .MkContactIcons i {
    font-size: 30px;
  }
  .MkContactList .MkContactTextContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s linear;
  }
  .MkContactList .MkContactTextContent h4 {
    position: relative;
    font-size: 18px;
    top: 15px;
  }
  .MkContactList .MkContactTextContent p {
    position: relative;
    font-size: 15px;
    bottom: 10px;
  }
  .MkContactList:hover .MkContactIcons {
    transition: 0.5s linear;
    color: #05bfdb;
  }
  .MkContactList:hover .MkContactTextContent {
    transition: 0.5s linear;
    color: #05bfdb;
  }
  .MkOpenLink {
    position: relative;
    opacity: 0;
    display: none;
  }
  .MkOpenLink .MkOpenContent {
    position: relative;
  }
  .MkOpenContent h4 {
    display: flex;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .MkOpenLinkListContent {
    position: relative;
    /* padding: 15px; */
    display: flex;
  }
  .MkOpenLinkListContent .MkOpenLinkImageTextList i {
    position: relative;
    font-size: 35px;
    padding: 10px;
    border-radius: 50%;
    margin-right: 25px;
    color: #f5c242;
    transition: 0.5s ease;
  }
  .MkOpenLinkListContent .MkOpenLinkImageTextList h4 {
    position: relative;
    font-size: 15px;
    left: 8px;
  }
  .MkOpenLinkListContent .MkOpenLinkImageTextList h3 {
    position: relative;
    font-size: 15px;
    right: 1px;
  }
  .MkOpenLinkImageTextList:hover i {
    transition: 0.5s ease;
    background: red;
  }
}

/* Width 360 */

@media screen and (max-width: 360px) {
  .box {
    min-width: 280px;
    transition: 0.7s 0.6s transform cubic-bezier(0.86, 0, 0.07, 1);
  }
  .box .list-links .footer {
    justify-content: center;
    text-align: center;
    align-items: center;
    position: center;
  }
  .bottom-sheet {
    width: 83%;
    left: 30px;
    border-radius: 30px 0 0;
  }
  .bottom-sheet h2 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
  }
  .bottom-sheet .content {
    margin-bottom: -10px;
  }
  .bottom-sheet .content .body {
    width: 100%;
  }
  .MkxProfileContentx {
    display: none;
    opacity: 0;
    transition: 0.5s linear;
  }
  .MKxProfileUserPagesx {
    display: none;
    opacity: 0;
    transition: 0.5s linear;
  }
  .ProfileContentxList {
    position: relative;
    display: flex;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: 1s ease-in-out;
    overflow: hidden;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    right: 30px;
    bottom: 5px;
    width: 100%;
    transition: 0.5s all;
  }
  .ProfileContentxList .ProfileContentxListIcons {
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin-right: 5px;
  }
  .ProfileContentxList .ProfileContentxListIcons i {
    position: relative;
    object-fit: cover;
    padding: 10px;
    width: 100%;
    height: 100%;
    left: 5px;
    font-size: 25px;
    font-weight: 300;
    border-radius: 10px;
    top: 2px;
    color: #000;
    transition: 0.5s all;
  }
  .ProfileContentxList .ProfileContentxListText {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .ProfileContentxList .ProfileContentxListText h4 {
    position: relative;
    font-family: "Poppins", sans-serif;
    line-height: 1.2em;
    font-weight: 500;
    transition: 0.5s all;
    right: 10px;
    top: 10px;
  }
  .ProfileContentxList .ProfileContentxListText p {
    position: relative;
    font-family: "Poppins", sans-serif;
    line-height: 1.2em;
    font-weight: 300;
    transition: 0.5s all;
    font-size: 12px;
    right: 10px;
    bottom: 10px;
  }
  .MKxProfileUserPagesxContent {
    width: 80%;
  }
  .MKxProfileUserPagesxContent .MkxProfileHeaderTittle {
    font-size: 20px;
    margin-bottom: 3px;
  }
  .MKxProfileUserPagesxContent .MKxProfileUserPagesxContentText {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: -20px;
  }
  .MKxProfileUserPagesxContent .MKxProfileUserPagesxContentText i {
    position: relative;
    display: flex;
    font-size: 25px;
    top: 18px;
  }
  .MKxProfileUserPagesxContent .MKxProfileUserPagesxContentText h4 {
    position: relative;
    font-family: "Inter", sans-serif;
    line-height: 1.1em;
    font-weight: 500;
    left: 40px;
    bottom: 10px;
    transition: 0.5s all;
  }
  .MKxProfileUserPagesxContent .MKxProfileUserPagesxContentText p {
    position: relative;
    font-size: 0.9em;
    left: 40px;
    bottom: 30px;
  }
  .MkxProfileContentSupportx {
    opacity: 0;
    display: none;
    transition: 0.5s all;
  }
  .MkxProfileSupportxContent {
    width: 90%;
    display: flex;
    margin-bottom: 10px;
  }
  .MkxProfileSupportHeaderTittle {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .MkxProfileSupportxContent .MkxProfileSupportxContentImages img {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: 10px;
  }
  .MkxProfileSupportxContent .MkxProfileSupportxContentText {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .MkxProfileSupportxContent .MkxProfileSupportxContentText h4 {
    position: relative;
    font-family: "Rajdhani", sans-serif;
    line-height: 1.1em;
    font-weight: 600;
    left: 20px;
    bottom: 3px;
    transition: 0.5s all;
  }
  .MkMusicSpotifyContenx {
    position: relative;
    visibility: hidden;
    opacity: 0;
    display: none;
    align-items: center;
    justify-content: center;
  }
  .MkMusicSpotifyContenx .MkxMusicSpotifyImages {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    left: 38%;
    top: 1%;
    border-radius: 50%;
    margin-bottom: 5px;
  }
  .MkMusicSpotifyContenx h3 {
    text-align: center;
    margin-bottom: -20px;
  }
  .MkMusicSpotifyContenx p {
    text-align: center;
  }
  .MkMusicSpotifyContenx .MkListens {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
  }
  .MkMusicSpotifyContenx .MkButtonSpotifyMusic {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .MkButtonSpotifyMusic .MkViewProfile {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
    background: #1db954;
    color: white;
    padding: 15px;
    width: 90%;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: -5px;
    text-align: center;
  }
  .MkButtonSpotifyMusic .MkViewPlaylist {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
    background: #1db954;
    color: white;
    padding: 15px;
    width: 90%;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
  }
  .MkButtonSpotifyMusic .MkViewProfile:hover {
    background-color: black;
    color: #fff;
    transition: 0.3s linear;
  }
  .MkButtonSpotifyMusic .MkViewPlaylist:hover {
    background-color: black;
    color: #fff;
    transition: 0.3s linear;
  }
  .MkUserSettingContentList {
    position: relative;
    opacity: 0;
    display: none;
  }
  .MkUserSettingContentList .MKUserSettingBtnBackPassed {
    position: relative;
    padding: 20px;
    transition: 0.5s linear;
  }
  .MKUserSettingBtnBackPassed i {
    position: relative;
    left: 260px;
    bottom: 30px;
    font-size: 30px;
    color: black;
    border-radius: 50%;
    z-index: -9;
  }
  .MkUserSettingContentList .MkxTittleSettingPage {
    position: relative;
    bottom: 60px;
    right: 30px;
    font-size: 20px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
  }
  .MKUserSettingBtnBackPassed:hover i {
    color: red;
    transition: 0.5s linear;
  }
  .MkxUserSettingContentList:hover {
    background: black;
    color: white;
  }
  .MkUserSettingPages .MkUserSettingPagesList {
    position: relative;
    display: flex;
    padding: 10px;
    margin: 10px;
    transition: 1s ease-in-out;
    overflow: hidden;
    overflow-x: hidden;
    height: 30px;
    margin-top: 10px;
    margin-bottom: -15px;
    right: 30px;
    bottom: 70px;
    transition: 0.5s all;
    width: 100%;
  }
  .MkUserSettingPages .MkUserSettingPagesList i {
    position: relative;
    object-fit: cover;
    padding: 10px;
    width: 100%;
    height: 100%;
    font-size: 25px;
    font-weight: 300;
    border-radius: 10px;
    color: #000;
    bottom: 7px;
    transition: 0.5s all;
    font-weight: 300;
    left: 5px;
  }
  .MkUserSettingPages .MkUserSettingsPagesContents {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .MkUserSettingPages .MkUserSettingsPagesContents h4 {
    position: relative;
    margin-left: 10px;
    font-family: "Inter", sans-serif;
    line-height: 1.1em;
    font-weight: 500;
    left: 30px;
    font-size: 15px;
    bottom: 88px;
    transition: 0.5s all;
  }
  .MkTitleGameWeb {
    position: relative;
    margin-bottom: 40px;
  }
  .MkTitleGameWeb h4 {
    position: relative;
    right: 10px;
    bottom: 50px;
    font-size: 20px;
  }
  .MkContactPagesContent {
    opacity: 0;
    display: none;
  }
  .MkxContactPagesListContent {
    padding: 10px;
  }
  .MkxContactPagesListContent .MkContactxxText {
    font-size: 23px;
    margin-bottom: 10px;
  }
  .MkContactList {
    position: relative;
    padding: 10px;
    display: flex;
    height: 40px;
    margin-bottom: 10px;
    transition: 0.5s linear;
  }
  .MkContactList .MkContactIcons {
    position: relative;
    top: 7px;
    right: 10px;
    margin-right: 10px;
    transition: 0.5s linear;
  }
  .MkContactList .MkContactIcons i {
    font-size: 30px;
  }
  .MkContactList .MkContactTextContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s linear;
  }
  .MkContactList .MkContactTextContent h4 {
    position: relative;
    font-size: 18px;
    top: 15px;
  }
  .MkContactList .MkContactTextContent p {
    position: relative;
    font-size: 15px;
    bottom: 10px;
  }
  .MkContactList:hover .MkContactIcons {
    transition: 0.5s linear;
    color: #05bfdb;
  }
  .MkContactList:hover .MkContactTextContent {
    transition: 0.5s linear;
    color: #05bfdb;
  }
  .MkOpenLink {
    position: relative;
    opacity: 0;
    display: none;
  }
  .MkOpenLink .MkOpenContent {
    position: relative;
  }
  .MkOpenContent h4 {
    display: flex;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .MkOpenLinkListContent {
    position: relative;
    /* padding: 15px; */
    display: flex;
  }
  .MkOpenLinkListContent .MkOpenLinkImageTextList i {
    position: relative;
    font-size: 35px;
    padding: 10px;
    border-radius: 50%;
    margin-right: 25px;
    right: 13px;
    color: #f5c242;
    transition: 0.5s ease;
  }
  .MkOpenLinkListContent .MkOpenLinkImageTextList h4 {
    position: relative;
    font-size: 15px;
    left: 1px;
  }
  .MkOpenLinkListContent .MkOpenLinkImageTextList h3 {
    position: relative;
    font-size: 15px;
    left: -8px;
  }
  .MkOpenLinkImageTextList:hover i {
    transition: 0.5s ease;
    background: red;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
