* {
  box-sizing: border-box;
}
html {
  --s: 67px; /* shape size */
  --m: 4px; /* line thickness */

  --v1: #fff 119.5deg, #0000 120.5deg;
  --v2: #000 119.5deg, #0000 120.5deg;
  /* background: conic-gradient(at var(--m) calc(var(--s) * 0.5777), transparent 270deg, #000 0deg), conic-gradient(at calc(100% - var(--m)) calc(var(--s) * 0.5777), #000 90deg, transparent 0deg),
    conic-gradient(from -60deg at 50% calc(var(--s) * 0.8662), var(--v1)), conic-gradient(from -60deg at 50% calc(var(--s) * 0.8662 + 2 * var(--m)), var(--v2)),
    conic-gradient(from 120deg at 50% calc(var(--s) * 1.4435 + 3 * var(--m)), var(--v1)), conic-gradient(from 120deg at 50% calc(var(--s) * 1.4435 + var(--m)), var(--v2)),
    linear-gradient(90deg, #fff calc(50% - var(--m)), #000 0 calc(50% + var(--m)), #fff 0);
  background-size: calc(var(--s) + 2 * var(--m)) calc(var(--s) * 1.732 + 3 * var(--m));
  mix-blend-mode: lighten; */
}
html:before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, red, blue, green) left/400% 100%;
  animation: f 5s infinite alternate linear;
}

@keyframes f {
  100% {
    background-position: right;
  }
}
body {
  color: #2d5cfe;
  font-family: "Jost", sans-serif;
  min-height: 100vh;
  display: flex;
  /* background: #ecf0f3; */
  background: rgb(45, 45, 45);
  flex-wrap: wrap;
  padding: 20px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  z-index: -5;
}
a {
  text-decoration: none;
}
/* .card:before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  filter: url(#wavy);
  background: #fff;
  border: 1px solid #fff;
}
.card:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  filter: url(#wavy);
  border-right: none;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
} */
.card {
  max-width: 340px;
  position: relative;
  /* margin: auto; */
  overflow-y: hidden;
  position: relative;
  /* z-index: 1; */
  overflow-x: hidden;
  display: flex;
  transition: 0.5s;
  top: 10px;
  flex-direction: column;
  border-radius: 20px;
  background: #fff;
}
.mk-cont {
  font-size: 13px;
  color: black;
  font-weight: 300;
  margin-top: -10px;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  position: relative;
  justify-contnet: center;
  align-items: center;
}
.card[data-state="#home"] {
  height: 390px;
  transition: 0.5s;
  width: 380px;
}
.card[data-state="#home"] .card-main {
  padding-top: 0;
  transition: 0.5s;
  height: 390px;
  /* width: 380; */
}

.card[data-state="#contact"] {
  height: 400px;
  width: 340px;
  transition: 0.5s;
  color: #2d5cfe;
}
.go {
  position: absolute;
  right: 500px;
  font-size: 20px;
}
.card[data-state="#profile"] {
  height: 550px;
  width: 340px;
  color: #2d5cfe;
  transition: 0.5s;
  top: -15px;
  position: relative;
}
.card[data-state="#about"] {
  height: 280px;
  width: 340px;
  transition: 0.5s;
}
.card.is-active .card-header {
  height: 80px;
  transition: 0.5s;
}
.card.is-active .card-cover {
  height: 100px;
  top: -50px;
  transition: 0.5s;
}
.card.is-active .card-avatar {
  transform: none;
  left: 20px;
  width: 50px;
  height: 50px;
  bottom: 10px;
  transition: 0.5s;
}
.card.is-active .card-fullname,
.card.is-active .card-jobtitle {
  left: 85px;
  transform: none;
}
.card.is-active .card-fullname {
  bottom: 18px;
  font-size: 19px;
}
.card.is-active .card-jobtitle {
  bottom: 16px;
  letter-spacing: 1px;
  font-size: 10px;
  left: 87px;
}
.card-header {
  position: relative;
  display: flex;
  height: 200px;
  flex-shrink: 0;
  width: 100%;
  transition: 0.5s;
}
.card-header * {
  transition: 0.5s;
}

.card-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  height: 160px;
  top: -20%;
  left: 0;
  will-change: top;
  background-size: cover;
  background-position: center;
  filter: blur(30px);
  transform: scale(1.2);
  transition: 0.5s;
}
.card-avatar {
  width: 100px;
  height: 100px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  border: 2px solid #2d5cfe;
  transform: translateX(-50%) translateY(-64px);
}

.card-fullname {
  position: absolute;
  bottom: 0;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  transform: translateY(-10px) translateX(-50%);
  left: 50%;
  /* color: black; */
  /* font-family: "Courier", sans-serif; */
  /* text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15); */
}

.card-jobtitle {
  position: absolute;
  bottom: 0;
  font-size: 11px;
  white-space: nowrap;
  font-weight: 500;
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 0;
  left: 50%;
  color: #000;
  transform: translateX(-50%) translateY(-7px);
}

.card-main {
  position: relative;
  flex: 1;
  display: flex;
  /* padding-top: 10px; */
  flex-direction: column;
}

.card-subtitle {
  font-weight: 900;
  text-align: center;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 8px; */
}

.card-content {
  padding: 20px;
}

.card-desc {
  text-align: center;
  line-height: 1.6;
  color: #636b6f;
  font-size: 14px;
  margin: 0;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
}

.card-social {
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin: 0px 62px;
  margin-bottom: 4px;
}
.card-social svg {
  fill: #a5b5ce;
  width: 16px;
  display: block;
  transition: 0.3s;
}
.card-social a {
  color: #8797a1;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  background-color: rgba(93, 133, 193, 0.05);
  border-radius: 50%;
  margin-right: 10px;
}
.card-social a:hover svg {
  fill: #637faa;
}
.card-social a:last-child {
  margin-right: 0;
}

.card-buttons {
  display: flex;
  background: rgba(255, 255, 255, 0.25);
  margin-top: auto;
  position: sticky;
  bottom: 0;
  left: 0;
  font-weight: 900;
}
.card-buttons button {
  flex: 2 2 auto;
  user-select: none;
  background: rgba(255, 255, 255, 0.25);
  font-size: 13px;
  border: 0;
  padding: 15px 5px;
  cursor: pointer;
  color: #5c5c6d;
  transition: 0.5s;
  font-family: "Jost", sans-serif;
  font-weight: 900;
  outline: 0;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
}
.card-buttons button.is-active,
.card-buttons button:hover {
  /* color: #2b2c48; */
  border-bottom: 3px solid #2d5cfe;
  background: rgba(255, 255, 255, 0.25);
  /* box-shadow: inset -3px -3px 10px #ffffff; */
  color: rgba(0, 0, 0, 0.567);
  z-index: 1;
  /* border: 1px solid #2d5cfe; */
}

.card-section {
  display: none;
}
.card-section.is-active {
  display: block;
  animation: fadeIn 0.6s both;
}
.card-timeline {
  margin-top: 30px;
  position: relative;
}
.card-timeline:after {
  background: #2d5cfe;
  content: "";
  left: 42px;
  width: 2px;
  top: 0;
  height: 100%;
  position: absolute;
  content: "";
}

.card-item {
  position: relative;
  padding-left: 60px;
  padding-right: 20px;
  padding-bottom: 30px;
  z-index: 1;
}
.card-item:last-child {
  padding-bottom: 5px;
}
.card-item:after {
  content: attr(data-year);
  width: 10px;
  position: absolute;
  top: 0;
  left: 37px;
  width: 8px;
  height: 8px;
  line-height: 0.6;
  border: 2px solid #fff;
  font-size: 11px;
  text-indent: -35px;
  border-radius: 50%;
  color: #2d5cfe;
  background: #2d5cfe;
}

.card-item-title {
  font-weight: 700;
  font-size: 14px;
  position: relative;
  top: -3px;
  margin-bottom: 5px;
}

.card-item-desc {
  font-size: 13px;
  color: black;
  line-height: 1.5;
  font-family: "DM Sans", sans-serif;
}

.card-contact-wrapper {
  margin-top: -10px;
}

.card-contact {
  display: flex;
  align-items: center;
  font-size: 12px;
  /* color: #6f6f7b; */
  font-family: "DM Sans", sans-serif;
  /* line-height: 1.6; */
  cursor: pointer;
  /* padding: 5px; */
  /* margin-top: 10px; */
  /* font-weight: 500; */
}
.card-contact:hover {
  background: rgba(0, 0, 0, 0.095);
  border-radius: 10px;
  color: white;
}
/* .card-contact + .card-contact {
  margin-top: 10px;
} */
.card-contact i {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  position: relative;
  left: 15px;
  transition: 0.5s;
  color: #2d5cfe;
  padding-right: 15px;
  top: 7px;
  /* border-right: 5px solid #dfe2ec; */
}
.card-contact .title-cont {
  font-size: 15px;
  /* top: 5px; */
  position: relative;
  left: 15px;
  bottom: 1px;
  font-weight: 500;
  color: #2d5cfe;
  font-family: "DM Sans", sans-serif;
}
.fab {
  font-size: 20px;
}
.search {
  background: rgba(0, 0, 0, 0.095);
  transform: translate(-70px);
  position: relative;
  justify-content: center;
  align-items: center;
  left: 70px;
  width: 70%;
  color: #000;
  outline: none;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px;
  border: none;
}
.cari-aja {
  transition: all ease 0.6s;
  border-radius: 10px;
  width: 60px;
  height: 50px;
  bottom: 50px;
  right: 90px;
  line-height: 50px;
  position: relative;
}
.fas {
  font-size: 20px;
}
.btn-home {
  /* border: 1pz solid rgba(232, 232, 232, 0.095); */
  background: rgba(0, 0, 0, 0.1);
  color: #2d5cfe;
  padding: 14px 16px;
  width: 70%;
  border-radius: 15px;
  margin: 48px;
  margin-top: 0px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 900;
  font-family: "Jost", sans-serif;
  transition: 0.5s;
  text-transform: uppercase;
  border: none;
}
.btn-home:hover {
  background: white;
  color: black;
  transition: 0.5s;
}
div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h2 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.media-icons {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 6px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: 5;
}
.close-btn.open ~ .media-icons {
  transform: translateX(0);
}
.media-icons a {
  text-decoration: none;
  position: relative;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  margin: 6px;
}
.media-icons a i {
  color: #fff;
}
.media-icons a .tooltip {
  position: absolute;
  left: 60px;
  font-size: 14px;
  font-weight: 400;
  pointer-events: none;
  background-color: #fff;
  padding: 10px 10px;
  border-radius: 5px;
  transform: translateX(-25px);
  opacity: 0;
  transition: all 0.5s linear;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
a:hover .tooltip {
  opacity: 1;
  transform: translateY(0);
}
/* a .tooltip::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  top: 50%;
  left: -5px;
  transform: translateY(-50%) rotate(0deg);
  background-color: #fff;
} */
.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
  background-color: #2d5cfe;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  /* transform: rotate(45deg); */
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
  top: 160px;
}
.close-btn.open {
  transform: rotate(180deg);
  background-color: #de0611;
}
.whole {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #00ffff;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(6px);
  box-shadow: 0 0 0 #00ffff, 2px 2px 10px #00ffff, 2px 2px 20px #00ffff, 2px 2px 30px #00ffff;
}
.play {
  width: 0;
  height: 0;
  border-bottom: 15px solid transparent;
  border-right: 3px solid transparent;
  border-top: 15px solid transparent;
  border-left: 20.5px solid #fb91ff;
  margin-left: 1.5em;
  cursor: pointer;
  opacity: 1;
}
.play.active {
  opacity: 0;
}
.pause {
  width: 17px;
  height: 25px;
  z-index: -1;
  background: transparent;
  transform: translateX(-25px);
  border-left: 4px solid #fb91ff;
  border-right: 4px solid #fb91ff;
  cursor: pointer;
  opacity: 0;
}
.pause.active {
  opacity: 1;
}
p {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  margin: 1.5em 1.5em 1.5em 0.3em;
}
.soundWaves {
  position: relative;
  width: 40px;
  height: 40px;
  background: transparent;
  display: inline-flex;
  justify-content: space-between;
  margin-right: 1em;
  z-index: 3;
  transform: rotate(180deg);
}
.line1,
.line2,
.line3,
.line4,
.line5 {
  background: linear-gradient(123deg, #ff78e2 55%, transparent 10%, #ff78e2 70%);
  background-size: 700%;
  height: 40px;
  width: 6px;
  animation: upDown 1s linear infinite, colourAnimate 4s linear infinite;
  animation-delay: calc(var(--i) * -0.25s);
  transition: all 1.5s;
  opacity: 0;
}
.line1.active,
.line2.active,
.line3.active,
.line4.active,
.line5.active {
  opacity: 1;
  animation: upDown 1s linear infinite, colourAnimate 4s linear infinite;
  animation-delay: calc(var(--i) * -0.25s);
}
@keyframes colourAnimate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 700% 0;
  }
}
@keyframes upDown {
  0% {
    height: 10px;
  }
  50% {
    height: 40px;
  }
  100% {
    height: 10px;
  }
}
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(210deg, #ff74e1, #fb91ff);
  transform: translate(80px, -40px);
  animation: move 12s linear infinite;
  animation-play-state: paused;
}
@keyframes move {
  0% {
    transform: translate(80px, -40px);
  }
  15% {
    transform: translate(80px, 40px);
  }
  45% {
    transform: translate(435px, 40px);
  }
  60% {
    transform: translate(435px, -40px);
  }
  100% {
    transform: translate(80px, -40px);
  }
}
.circle2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(210deg, #ffb545, #ffc391);
  transform: translate(370px, 40px);
  animation: move2 12s linear infinite;
  animation-play-state: paused;
}
@keyframes move2 {
  0% {
    transform: translate(370px, 40px);
  }
  15% {
    transform: translate(370px, -40px);
  }
  45% {
    transform: translate(20px, -40px);
  }
  60% {
    transform: translate(20px, 40px);
  }
  100% {
    transform: translate(370px, 40px);
  }
}
.circle.active,
.circle2.active {
  animation-play-state: running;
}
.heart {
  background-color: #d62828;
  display: inline-block;
  height: 30px;
  margin: 0 10px;
  position: relative;
  top: 110px;
  left: 105px;
  transform: rotate(-45deg);
  width: 30px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: #d62828;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}

.heart:before {
  top: -15px;
  left: 0;
}

.heart:after {
  left: 15px;
  top: 0;
}

.hearts {
  position: absolute;
}

.one,
.two,
.three,
.four,
.five {
  background-color: red;
  display: inline-block;
  height: 10px;
  margin: 0 10px;
  position: relative;
  transform: rotate(-45deg);
  width: 10px;
  top: 50px;
}

.one:before,
.one:after,
.two:before,
.two:after,
.three:before,
.three:after,
.four:before,
.four:after,
.five:before,
.five:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 10px;
  position: absolute;
  width: 10px;
}

.one:before,
.two:before,
.three:before,
.four:before,
.five:before {
  top: -5px;
  left: 0;
}

.one:after,
.two:after,
.three:after,
.four:after,
.five:after {
  left: 5px;
  top: 0;
}

.one {
  left: -60px;
  animation: heart 1s ease-out infinite;
}

.two {
  left: -30px;
  animation: heart 2s ease-out infinite;
}

.three {
  left: 10px;
  animation: heart 1.5s ease-out infinite;
}

.four {
  left: 30px;
  animation: heart 2.3s ease-out infinite;
}

.five {
  left: 65px;
  animation: heart 1.7s ease-out infinite;
}
/* ------------------------------------------------------------------------------------
  
  Animation
  
  --------------------------------------------------------------------------------------- */

@keyframes up {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

@keyframes heart {
  0% {
    transform: translateY(0) rotate(-45deg) scale(0.3);
    opacity: 1;
  }
  100% {
    transform: translateY(-150px) rotate(-45deg) scale(1.3);
    opacity: 0.5;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.85);
  }
}

@-webkit-keyframes drip {
  0% {
    height: 0;
  }
  2% {
    height: 6px;
  }
  5% {
    height: 6px;
    top: 14px;
  }
  22% {
    top: 158px;
    height: 4px;
    opacity: 1;
  }
  23% {
    opacity: 0;
    height: 0px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes drip {
  0% {
    height: 0;
  }
  2% {
    height: 6px;
  }
  5% {
    height: 6px;
    top: 14px;
  }
  22% {
    top: 158px;
    height: 4px;
    opacity: 1;
  }
  23% {
    opacity: 0;
    height: 0px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes showResponse {
  0% {
    opacity: 1;
    top: calc(50% - 36px);
  }
  70% {
    opacity: 1;
    top: calc(50% - 46px);
  }
  100% {
    opacity: 0;
    top: calc(50% - 46px);
  }
}

@keyframes showResponse {
  0% {
    opacity: 1;
    top: calc(50% - 36px);
  }
  70% {
    opacity: 1;
    top: calc(50% - 46px);
  }
  100% {
    opacity: 0;
    top: calc(50% - 46px);
  }
}

@-webkit-keyframes forcedResponse {
  0% {
    opacity: 1;
    top: calc(50% - 36px);
  }
  70% {
    opacity: 1;
    top: calc(50% - 46px);
  }
  100% {
    opacity: 1;
    top: calc(50% - 46px);
  }
}

@keyframes forcedResponse {
  0% {
    opacity: 1;
    top: calc(50% - 36px);
  }
  70% {
    opacity: 1;
    top: calc(50% - 46px);
  }
  100% {
    opacity: 1;
    top: calc(50% - 46px);
  }
}

@-webkit-keyframes logo {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes logo {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes bar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes bar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes dialogueIn {
  0% {
    opacity: 0;
    left: 2px;
  }
  10% {
    left: 2px;
  }
  20% {
    left: 0px;
  }
  30% {
    left: 2px;
  }
  40% {
    left: 4px;
  }
  50% {
    left: 8px;
  }
  60% {
    left: 8px;
  }
  70% {
    left: 2px;
  }
  80% {
    left: 5px;
  }
  90% {
    left: 6px;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}

@keyframes dialogueIn {
  0% {
    opacity: 0;
    left: 20px;
  }
  10% {
    left: 20px;
  }
  20% {
    left: 0px;
  }
  30% {
    left: 20px;
  }
  40% {
    left: 4px;
  }
  50% {
    left: 18px;
  }
  60% {
    left: 8px;
  }
  70% {
    left: 20px;
  }
  80% {
    left: 5px;
  }
  90% {
    left: 16px;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes shake {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  10% {
    transform: translateX(6px);
  }
  20% {
    transform: translateX(-6px);
  }
  30% {
    transform: translateX(6px);
  }
  40% {
    transform: translateX(-6px);
  }
  50% {
    transform: translateX(6px);
  }
  60% {
    transform: translateX(-6px);
  }
  70% {
    transform: translateX(6px);
  }
  80% {
    transform: translateX(-6px);
  }
  90% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  10% {
    transform: translateX(6px);
  }
  20% {
    transform: translateX(-6px);
  }
  30% {
    transform: translateX(6px);
  }
  40% {
    transform: translateX(-6px);
  }
  50% {
    transform: translateX(6px);
  }
  60% {
    transform: translateX(-6px);
  }
  70% {
    transform: translateX(6px);
  }
  80% {
    transform: translateX(-6px);
  }
  90% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translatey(50px);
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes end {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  10% {
    transform: translateX(6px);
  }
  20% {
    transform: translateX(-6px);
  }
  30% {
    transform: translateX(6px);
  }
  40% {
    transform: translateX(-6px);
  }
  50% {
    transform: translateX(6px);
  }
  60% {
    transform: translateX(-6px);
  }
  70% {
    transform: translateX(6px);
  }
  80% {
    transform: translateX(-6px);
  }
  90% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(0px);
    opacity: 0;
  }
}

@keyframes end {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  10% {
    transform: translateX(6px);
  }
  20% {
    transform: translateX(-6px);
  }
  30% {
    transform: translateX(6px);
  }
  40% {
    transform: translateX(-6px);
  }
  50% {
    transform: translateX(6px);
  }
  60% {
    transform: translateX(-6px);
  }
  70% {
    transform: translateX(6px);
  }
  80% {
    transform: translateX(-6px);
  }
  90% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(0px);
    opacity: 0;
  }
}

@-webkit-keyframes shake-debug {
  0% {
    transform: translateX(0px) scale(0.5);
  }
  10% {
    transform: translateX(10px) scale(0.5);
  }
  20% {
    transform: translateX(0px) scale(0.5);
  }
  30% {
    transform: translateX(10px) scale(0.5);
  }
  40% {
    transform: translateX(-10px) scale(0.5);
  }
  50% {
    transform: translateX(10px) scale(0.5);
  }
  60% {
    transform: translateX(-10px) scale(0.5);
  }
  70% {
    transform: translateX(10px) scale(0.5);
  }
  80% {
    transform: translateX(-10px) scale(0.5);
  }
  90% {
    transform: translateX(10px) scale(0.5);
  }
  100% {
    transform: translateX(0px) scale(0.5);
  }
}

@keyframes shake-debug {
  0% {
    transform: translateX(0px) scale(0.5);
  }
  10% {
    transform: translateX(10px) scale(0.5);
  }
  20% {
    transform: translateX(0px) scale(0.5);
  }
  30% {
    transform: translateX(10px) scale(0.5);
  }
  40% {
    transform: translateX(-10px) scale(0.5);
  }
  50% {
    transform: translateX(10px) scale(0.5);
  }
  60% {
    transform: translateX(-10px) scale(0.5);
  }
  70% {
    transform: translateX(10px) scale(0.5);
  }
  80% {
    transform: translateX(-10px) scale(0.5);
  }
  90% {
    transform: translateX(10px) scale(0.5);
  }
  100% {
    transform: translateX(0px) scale(0.5);
  }
}
