@font-face {
  font-family: Quicksand, sans-serif;
  font-weight: 400;
  src: url(https://fonts.googleapis.com/css2?family=Quicksand);
}
@font-face {
  font-family: Quicksand, sans-serif;
  font-weight: 600;
  src: url(https://fonts.googleapis.com/css2?family=Quicksand);
}
@font-face {
  font-family: Quicksand, sans-serif;
  font-weight: 300;
  src: url(https://fonts.googleapis.com/css2?family=Quicksand);
}
@font-face {
  font-family: Quicksand, sans-serif;
  font-weight: 700;
  src: url(https://fonts.googleapis.com/css2?family=Quicksand);
}
@font-face {
  font-family: pixles;
  src: url(https://fonts.gstatic.com/s/loveyalikeasister/v14/R70EjzUBlOqPeouhFDfR80-0FhOqJubN-BeL9Xxd.woff2) format("woff2");
}
/* All Styling */
* {
  font-family: Quicksand, sans-serif;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
body {
  overflow: hidden;
  background-size: 100%;
  margin: 0;
  padding: 0;
}
/* Add Username */
img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
}
.preload {
  position: absolute;
  height: 100vh;
  line-height: 100vh;
  width: 100vw;
  background: #000000e0;
  backdrop-filter: blur(15px);
  font-weight: lighter;
  font-size: 20pt;
  z-index: 100;
  text-align: center;
  color: #fff;
  opacity: 1;
  transition: all ease 2s;
  font-family: monospace;
}
.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  inset: 4px;
  /* background: #212121; */
  transition: all 0.5s;
  overflow: hidden;
  z-index: 1;
}
/* .container::before {
    content: '';
    width: 35em;
    height: 42em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: conic-gradient(#ffff00, transparent, transparent, transparent);
    animation: animateAll 4s linear infinite;
}
.container::after {
    content: '';
    width: 35em;
    height: 42em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: conic-gradient(#ffff00, transparent, transparent, transparent);
    animation: animateAll 4s linear infinite;
    animation-delay: -2s;
} */
@keyframes animateAll {
  0% {
    filter: hue-rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
.mywindow {
  width: 500px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 12pt;
  border-radius: 5px;
  border: 2px solid #eee;
}
.myanimated {
  transition: all ease 0.3s;
  transform: unset;
  width: 500px;
}
.mycontrol {
  position: absolute;
  display: inline-block;
  height: 30px;
  left: 10px;
  padding: 0 5px;
}
.myheader {
  color: black;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  border-radius: 10px 10px 0 0;
  background: #d1d1d1;
  background: white;
  border-bottom: 1px solid #c6c6c6;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  box-shadow: inset 0 -7px 5px rgba(0, 0, 0, 0.025), inset 0 5px 10px rgba(0, 0, 0, 0.15);
}
.myclose,
.mymax,
.mymini {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-top: 10px;
  border-radius: 10px;
  margin-right: 2px;
}
.myclose {
  background: #fe5d56;
  border: 1px solid #ea3e4a;
}
.myclose:hover {
  background: #ea3e4a;
}
.mymini {
  background: #f6bd28;
  border: 1px solid #f8ae1c;
}
.mymini:hover {
  background: #f8ae1c;
}
.mymax {
  background: #26cd3c;
  border: 1px solid #4bba54;
}
.mymax:hover {
  background: #4bba54;
}
.mybody {
  padding: 30px;
  padding-bottom: 50px;
}
.mk-headers {
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.mytitle {
  font-weight: 700;
  font-size: 14pt;
  margin-bottom: 10px;
  color: rgb(0, 51, 255);
}
.mytext {
  margin-top: 10px;
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
  background: transparent;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: 0;
  border-bottom: 2px solid #eee;
}
.mk-title {
  position: relative;
  left: 0;
  top: -39px;
  padding: 20px 0;
  font-size: 16px;
  color: rgb(0, 51, 255);
  pointer-events: none;
  transition: 0.5s;
}
.mk-username {
  color: red;
}
.mk-warn {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}
.mytext:focus ~ .mk-title,
.mytext:valid ~ .mk-title {
  top: -70px;
  left: 0;
  font-size: 12px;
  font-weight: bold;
  color: rgb(0, 51, 255);
}
.mytext:hover {
  cursor: text;
  color: rgb(0, 51, 255);
}
.mybutton {
  position: relative;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: -20px;
  background: #3c87ff;
  color: white;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 5px;
  padding: 15px;
  animation: 0.5s;
  transition: 0.5s;
}
.mybutton:hover {
  opacity: 0.3;
  transition: 0.5s;
  animation: 0.5s;
  border: 1px solid #ccc;
}
.mk-cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 1px solid #3c87ff;
  animation: wave 0.8s forwards;
  opacity: 1;
  /* box-shadow: 0 4px 8px 0 rgba(0.2), 0 6px 20px 0 #3c87ff; */
  box-shadow: -3px -3px 7px #3c87ff, 3px 3px 5px #3c87ff;
}
.mybuttonno,
.mybuttonyes {
  text-align: center;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
}
.mybuttonyes {
  cursor: pointer;
  color: white;
}
.mybuttonno {
  background: #fff;
  border: 1px solid #c6c6c6;
}
.mybuttonno:hover {
  background: black;
  color: white;
}
.myresize {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: se-resize;
}
.vidcont {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: none;
  background: #000000a0;
  /* border-radius: 30px; */
  z-index: 2;
  /* box-shadow: 0 0 10px white; */
}
.myhide {
  display: none;
}
video {
  position: relative;
  left: 0;
  top: 0;
  opacity: 1;
  /* border-radius: 30px; */
}
.divvideo {
  width: 60%;
  height: 300px;
  /* border-radius: 30px; */
  overflow: hidden;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  /* box-shadow: 0 0 10px white; */
}
.mknet {
  display: none;
  z-index: 1;
  color: #fff;
  width: calc(100vw - 50px);
  padding: 20px;
  color: black;
  position: absolute;
}
.mkbody {
  width: 100%;
  height: 100%;
  transform: translateY(-50%);
  top: 20px;
  position: absolute;
}
@keyframes wave {
  0% {
    width: 5px;
    height: 5px;
    opacity: 1;
  }
  90% {
    width: 50px;
    height: 50px;
    opacity: 0.5;
  }
  1005 {
    width: 50px;
    height: 50px;
    opacity: 0;
  }
}
@keyframes animate {
  50% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
@keyframes animateBx {
  50% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
#myVideo {
  /* border-radius: 30px; */
}
/* Body Menu */
section {
  position: relative;
  right: 20px;
  min-height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
}
.box {
  position: relative;
  min-width: 300px;
  height: 70px;
  width: 100px;
  background: #fff;
  border: 2px solid #eee;
  border-radius: 5px;
  z-index: 1;
  backdrop-filter: blur(10px);
  padding: 30px;
  animation: fadeInUp 1s;
  overflow: hidden;
  overflow-y: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  bottom: 10px;
  transition: height 1s ease-in-out;
  /* grid-template-columns: repeat(auto-fit, minmax(150px, lfr)); */
}
.box.active {
  height: 390px;
  transition: 1s;
}
.box .list-links {
  position: relative;
  display: flex;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  top: 10px;
  margin-bottom: 25px;
  margin-right: 15px;
  margin-left: 15px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  border: 2px solid #eee;
  box-shadow: 0 0 10px #eee;
  height: 30px;

}
.box .list-links .fade-right {
  animation: fadeInRight 1s;
}
.box .list-links .img-list {
  position: relative;
  width: 50px;
  height: 50px;
  everflow: hidden;
  margin-right: 50px;
  color: #2d5cfe;
}
.box .list-links .img-list .bx {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 10px;
  left: 10px;
  border-radius: 10px;
  font-size: 30px;
}
.box .list-links .list-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #2d5cfe;
}
.box .list-links .list-content h4 {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 600;
  transition: 0.5s;
  position: relative;
  right: -10px;
  top: 10px;
}
.box .list-links .list-content p {
  font-family: "DM Sans", sans-serif;
  font-size: 10px;
  opacity: 50;
  transition: 0.5s;
  color: grey;
  position: relative;
  right: -10px;
  bottom: 15px;
}
.box .list-links:hover {
  background: #fff;
  z-index: 1000;
  color: black;
  transition: 0.5s;
  opacity: 50%;
}
.box .mk-back:hover {
  color: red;
}
.box .mk-back:hover .mk-to-back {
  color: red;
}
.list-links:hover .bx {
  color: black;
  transition: 0.5s;
}
.list-links:hover h4 {
  color: red;
  transition: 0.5s;
}
.list-links:hover .mk-next {
  color: red;
  transition: 0.5s;
}
.list-links:hover p {
  color: #2d5cfe;
  transition: 0.5s;
}
.mk-overflow {
  max-height: 300px;
  overflow-y: auto;
  margin-top: 10px;
}
.mk-overflow::-webkit-scrollbar {
  width: 5px;
  display: none;
  height: 1px;
  position: relative;
  padding-right: 30px;
}
.mk-overflow::-webkit-scrollbar-track {
  background: rgb(106, 106, 106);
  box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
  border-radius: 25px;
}
.mk-overflow::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #4ab1ff, #2d5cfe);
  border-radius: 25px;
  margin-left: 20px;
}
.mkx-header {
  position: relative;
  padding: 10px;
  display: flex;
  border: 2px solid #eee;
  border-radius: 5px;
  height: 50px;
  margin-bottom: 30px;
  cursor: pointer;
}
.mkx-header .mk-img-header {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}
.mkx-header .mk-img-header .mk-img-content {
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px;
}
.mkx-header .mk-header-content h4 {
  font-size: 15px;
  font-weight: 700;
  position: relative;
  bottom: 10px;
}
.mkx-header .mk-header-content p {
  font-size: 12px;
  font-weight: 300;
  position: relative;
  bottom: 30px;
}
.mkx-header .mk-button-header {
  position: absolute;
  margin-top: 10px;
  right: 15px;
}
.mkx-header .mk-button-header .mk-button-header-back {
  font-size: 30px;
  cursor: pointer;
  transition: 1s;
}
.mk-button-header:hover .mk-button-header-back {
  color: red;
  transition: 1s;
  transform: scale(1.1);
}
.mkx-footer {
  position: relative;
  padding: 10px;
  display: flex;
  border: 2px solid #eee;
  border-radius: 5px;
  height: 50px;
}
.mkx-footer .mk-img-footer {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}
.mkx-footer .mk-img-footer .mk-img-content {
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px;
}
.mkx-footer .mk-footer-content h4 {
  font-size: 15px;
  font-weight: 700;
  position: relative;
  bottom: 10px;
}
.mkx-footer .mk-footer-content p {
  font-size: 12px;
  font-weight: 300;
  position: relative;
  bottom: 30px;
}
.mkx-footer .mk-button-footer {
  position: absolute;
  margin-top: 10px;
  right: 15px;
}
.mkx-footer .mk-button-footer .mk-button-footer-back {
  font-size: 30px;
  cursor: pointer;
  transition: 1s;
}
.mk-button-footer:hover .mk-button-footer-back {
  color: red;
  transition: 1s;
  transform: scale(1.1);
}
.mk-next {
  position: absolute;
  font-size: 20px;
  top: 15px;
  right: 20px;
  color: #2d5cfe;
}
.mkLogUser {
    margin-right: 5px;
    font-size: 18px;
    position: relative;
    top: 2px;
}
.title-header {
    font-size: 12px;
    margin-left: 15px;
    margin-bottom: -5px;
    color: #2d5cfe;
}
.mk-logs-button {
  position: absolute;
  font-size: 30px;
  top: 45px;
  right: 30px;
  color: #2d4cfe;
  background-color: #eee;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  transition: 1s;
}
.mk-logs-button:hover {
  background: #ddd;
  transition: 1s;
  color: #fff;
}
.mk-warn-button:hover {
  background: #ddd;
  transition: 1s;
  color: #fff;
}
.mk-warn-back-button:hover {
  background: #ddd;
  transition: 1s;
  color: #fff;
}
.mk-warn-button {
  position: absolute;
  font-size: 30px;
  top: 75px;
  right: 25px;
  color: #2d4cfe;
  background-color: #eee;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  transition: 1s;
}
.mk-warn-back-button {
  position: absolute;
  font-size: 30px;
  top: 75px;
  right: 70px;
  color: #2d4cfe;
  background-color: #eee;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  transition: 1s;
}
.mkContactFooter {
  position: relative;
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}
.mkContactFooter .mkCodexLinks {
  text-decoration: none;
  font-weight: bold;
  transition: 1s;
}
.mkContactFooterLogs {
  position: relative;
  text-align: center;
  font-size: 12px;
  top: 15px;
  margin-bottom: -10px;
}
.mkContactFooterLogs .mkCodexLinksLogs {
  text-decoration: none;
  font-weight: bold;
  transition: 1s;
}
.mkCodexLinks:hover {
  color: black;
  transition: 1s;
}
.box.active .toggle .mkToggle {
    transform: rotate(-180deg);
}
.mk-games-box {
  width: 65vmin;
  height: 70vmin;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background: #293447;
  box-shadow: 0 20px 40px rgba(52, 87, 220, 0.2);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.game-details {
  color: #b8c6dc;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
}
.play-board {
  height: 100%;
  width: 100%;
  display: grid;
  background: #212837;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}
.play-board .food {
  background: #ff003d;
}
.play-board .head {
  background: #60cbff;
}
.controls {
  display: none;
  justify-content: space-between;
}
.controls i {
  padding: 25px 0;
  text-align: center;
  font-size: 1.3rem;
  color: #b8c6dc;
  width: calc(100% / 4);
  cursor: pointer;
  border-right: 1px solid #171b26;
}
@media screen and (max-width: 800px) {
  .wrapper {
    width: 90vmin;
    height: 115vmin;
  }
  .game-details {
    font-size: 1rem;
    padding: 15px 27px;
  }
  .controls {
    display: flex;
  }
  .controls i {
    padding: 15px 0;
    font-size: 1rem;
  }
}
/* Mobile Preview */
@media screen and (max-width: 576px) {
  .mywindow {
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .mk-warn-button {
    top: 100px;
  }
  .mk-warn-back-button {
    top: 100px;
  }
  .divvideo {
    width: 90%;
  }
  .myanimated {
    transform: unset;
  }
}
